In [4]:
!git clone https://github.com/Astraeushub/Astraeusyataibei

Cloning into 'Astraeusyataibei'...

In [5]:
import pandas as pd
import os
import glob
import warnings

# ÂøΩÁï• openpyxl Áõ∏ÂÖ≥ÁöÑË≠¶ÂëäÔºåÁ°Æ‰øùËæìÂá∫Ê∏ÖÊô∞
warnings.simplefilter(action='ignore', category=FutureWarning)

# 1. ÂÆö‰πâÊú¨Âú∞‰ªìÂ∫ìÁöÑË∑ØÂæÑ
# ÂÅáËÆæÊÇ®Âú®ËøêË°å git clone ÂêéÔºå‰ªìÂ∫ìÊñá‰ª∂Â§πÂ∞±Âú®ÂΩìÂâçÂ∑•‰ΩúÁõÆÂΩï‰∏ã
REPO_NAME = "Astraeusyataibei" 
LOCAL_REPO_PATH = os.path.join(os.getcwd(), REPO_NAME)

# 2. ÂàõÂª∫‰∏Ä‰∏™Â≠óÂÖ∏Êù•Â≠òÂÇ®ÊâÄÊúâÂä†ËΩΩÁöÑÊï∞ÊçÆ
data_frames = {}
text_contents = {}

print(f"Â∞ùËØï‰ªéÊú¨Âú∞ÁõÆÂΩïÂä†ËΩΩÊï∞ÊçÆ: {LOCAL_REPO_PATH}")

# 3. ÈÅçÂéÜ‰ªìÂ∫ì‰∏≠ÁöÑÊâÄÊúâÊñá‰ª∂
try:
    # glob ÊâæÂà∞ÊâÄÊúâ .xlsx Âíå .txt Êñá‰ª∂
    # ‰ΩøÁî® **/*.** Êù•ÈÄíÂΩíÊü•ÊâæÂ≠êÁõÆÂΩïÔºàÂ¶ÇÊûúÂ≠òÂú®ÔºâÔºå‰∏çËøáÊÇ®ÁöÑÊà™ÂõæÊòæÁ§∫Êñá‰ª∂ÈÉΩÂú®Ê†πÁõÆÂΩï
    all_files = glob.glob(os.path.join(LOCAL_REPO_PATH, '*.*'))

    if not all_files:
        print(f"‚ùå Êú™ÊâæÂà∞‰ªª‰ΩïÊñá‰ª∂„ÄÇËØ∑Á°ÆËÆ§ {LOCAL_REPO_PATH} ÁõÆÂΩïÂ≠òÂú®‰∏îÂåÖÂê´Êï∞ÊçÆÊñá‰ª∂„ÄÇ")
        print("ÊÇ®ÂèØËÉΩÈúÄË¶ÅÂÆâË£Ö openpyxl Êù•ËØªÂèñ .xlsx Êñá‰ª∂Ôºöpip install openpyxl")
    
    for file_path in all_files:
        file_name = os.path.basename(file_path)
        
        # Ê£ÄÊü•Êñá‰ª∂Êâ©Â±ïÂêç
        if file_name.endswith('.xlsx'):
            print(f"Ê≠£Âú®Âä†ËΩΩ Excel Êñá‰ª∂: {file_name}")
            try:
                # ËØªÂèñ Excel Êñá‰ª∂ÔºåÈªòËÆ§ËØªÂèñÁ¨¨‰∏Ä‰∏™ Sheet
                df = pd.read_excel(file_path)
                data_frames[file_name] = df
                print(f"  --> Âä†ËΩΩÊàêÂäüÔºåÂΩ¢Áä∂: {df.shape}")
            except Exception as e:
                print(f"  --> ‚ùå Excel Êñá‰ª∂ {file_name} Âä†ËΩΩÂ§±Ë¥•: {e}")

        elif file_name.endswith('.txt'):
            print(f"Ê≠£Âú®Âä†ËΩΩÊñáÊú¨Êñá‰ª∂: {file_name}")
            try:
                # ËØªÂèñÊñáÊú¨Êñá‰ª∂Ôºå‰ΩøÁî® 'utf-8' ÁºñÁ†Å
                with open(file_path, 'r', encoding='utf-8') as f:
                    content = f.read()
                    text_contents[file_name] = content
                print(f"  --> Âä†ËΩΩÊàêÂäüÔºåÈïøÂ∫¶: {len(content)} Â≠óÁ¨¶")
            except Exception as e:
                print(f"  --> ‚ùå ÊñáÊú¨Êñá‰ª∂ {file_name} Âä†ËΩΩÂ§±Ë¥•: {e}")
        
        # ÂøΩÁï•ÂÖ∂‰ªñÊñá‰ª∂ (Â¶Ç .pdf, .gitignore Á≠â)
        else:
             print(f"Ë∑≥ËøáÊñá‰ª∂: {file_name}")

    print("\n====================================")
    print("‚úÖ ÊâÄÊúâÂèØÂä†ËΩΩÊñá‰ª∂Â§ÑÁêÜÂÆåÊØï„ÄÇ")
    print(f"DataFrame Êï∞Èáè: {len(data_frames)}")
    print(f"ÊñáÊú¨Êñá‰ª∂Êï∞Èáè: {len(text_contents)}")
    print("====================================")
    
    # Á§∫‰æãÔºöËÆøÈóÆÂÖ∂‰∏≠‰∏Ä‰∏™Êï∞ÊçÆË°®
    if data_frames:
        first_df_key = list(data_frames.keys())[0]
        print(f"\nÁ§∫‰æãÊï∞ÊçÆ (Êñá‰ª∂: {first_df_key}):")
        # ÊâìÂç∞ÂàóÂêçÂíåÂâç‰∏§Ë°å
        print(data_frames[first_df_key].head(2))

except Exception as e:
    print(f"ÂèëÁîüËá¥ÂëΩÈîôËØØ: {e}")
    print("ËØ∑Ê£ÄÊü• Python Â∫ìÊòØÂê¶ÂÆâË£ÖÂÆåÊï¥Ôºöpip install pandas openpyxl")

Â∞ùËØï‰ªéÊú¨Âú∞ÁõÆÂΩïÂä†ËΩΩÊï∞ÊçÆ: C:\Users\crj\Astraeusyataibei
Ê≠£Âú®Âä†ËΩΩ Excel Êñá‰ª∂: 2019_Tariff_Database_v11.xlsx
  --> Âä†ËΩΩÊàêÂäüÔºåÂΩ¢Áä∂: (14819, 112)
Ê≠£Âú®Âä†ËΩΩ Excel Êñá‰ª∂: DataWeb-Query-Export.xlsx
  --> Âä†ËΩΩÊàêÂäüÔºåÂΩ¢Áä∂: (32, 2)
Ê≠£Âú®Âä†ËΩΩ Excel Êñá‰ª∂: DataWeb-Query-Import.xlsx
  --> Âä†ËΩΩÊàêÂäüÔºåÂΩ¢Áä∂: (32, 2)
Ê≠£Âú®Âä†ËΩΩ Excel Êñá‰ª∂: tariff database_202106.xlsx

D:\Anaconada\envs\mcm_2025\lib\site-packages\openpyxl\styles\stylesheet.py:237: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")
D:\Anaconada\envs\mcm_2025\lib\site-packages\openpyxl\styles\stylesheet.py:237: UserWarning: Workbook contains no default style, apply openpyxl's default
  warn("Workbook contains no default style, apply openpyxl's default")

  --> Âä†ËΩΩÊàêÂäüÔºåÂΩ¢Áä∂: (13066, 122)
Ê≠£Âú®Âä†ËΩΩ Excel Êñá‰ª∂: tariff database_202207.xlsx
  --> Âä†ËΩΩÊàêÂäüÔºåÂΩ¢Áä∂: (13826, 122)
Ê≠£Âú®Âä†ËΩΩ Excel Êñá‰ª∂: tariff database_202307.xlsx
  --> Âä†ËΩΩÊàêÂäüÔºåÂΩ¢Áä∂: (13102, 122)
Ê≠£Âú®Âä†ËΩΩÊñáÊú¨Êñá‰ª∂: tariff_database_2015.txt
  --> Âä†ËΩΩÊàêÂäüÔºåÈïøÂ∫¶: 4964937 Â≠óÁ¨¶
Ê≠£Âú®Âä†ËΩΩ Excel Êñá‰ª∂: tariff_database_2015.xlsx
  --> Âä†ËΩΩÊàêÂäüÔºåÂΩ¢Áä∂: (12736, 111)
Ê≠£Âú®Âä†ËΩΩÊñáÊú¨Êñá‰ª∂: tariff_database_2016.txt
  --> Âä†ËΩΩÊàêÂäüÔºåÈïøÂ∫¶: 4938753 Â≠óÁ¨¶
Ê≠£Âú®Âä†ËΩΩ Excel Êñá‰ª∂: tariff_database_2016.xlsx
  --> Âä†ËΩΩÊàêÂäüÔºåÂΩ¢Áä∂: (13229, 111)
Ê≠£Âú®Âä†ËΩΩÊñáÊú¨Êñá‰ª∂: tariff_database_2017.txt
  --> Âä†ËΩΩÊàêÂäüÔºåÈïøÂ∫¶: 6342150 Â≠óÁ¨¶
Ê≠£Âú®Âä†ËΩΩ Excel Êñá‰ª∂: tariff_database_2017.xlsx
  --> Âä†ËΩΩÊàêÂäüÔºåÂΩ¢Áä∂: (12861, 112)
Ê≠£Âú®Âä†ËΩΩÊñáÊú¨Êñá‰ª∂: tariff_database_2018.txt
  --> Âä†ËΩΩÊàêÂäüÔºåÈïøÂ∫¶: 6515916 Â≠óÁ¨¶
Ê≠£Âú®Âä†ËΩΩ Excel Êñá‰ª∂: tariff_database_2018.xlsx
  --> Âä†ËΩΩÊàêÂäüÔºåÂΩ¢Áä∂: (13200, 112)
Ê≠£Âú®Âä†ËΩΩ Excel Êñá‰ª∂: tariff_database_202010.xlsx
  --> Âä†ËΩΩÊàêÂäüÔºåÂΩ¢Áä∂: (22438, 122)
Ê≠£Âú®Âä†ËΩΩ Excel Êñá‰ª∂: tariff_database_202405.xlsx
  --> Âä†ËΩΩÊàêÂäüÔºåÂΩ¢Áä∂: (12975, 122)
Ê≠£Âú®Âä†ËΩΩÊñáÊú¨Êñá‰ª∂: tariff_database_2025.txt
  --> ‚ùå ÊñáÊú¨Êñá‰ª∂ tariff_database_2025.txt Âä†ËΩΩÂ§±Ë¥•: 'utf-8' codec can't decode byte 0xa2 in position 208593: invalid start byte
Ê≠£Âú®Âä†ËΩΩ Excel Êñá‰ª∂: tariff_database_2025.xlsx
  --> Âä†ËΩΩÊàêÂäüÔºåÂΩ¢Áä∂: (13032, 122)
Ê≠£Âú®Âä†ËΩΩÊñáÊú¨Êñá‰ª∂: tariff_database_text_version_202010.txt
  --> Âä†ËΩΩÊàêÂäüÔºåÈïøÂ∫¶: 9775454 Â≠óÁ¨¶
Ê≠£Âú®Âä†ËΩΩÊñáÊú¨Êñá‰ª∂: tariff_database_text_version_202106.txt
  --> Âä†ËΩΩÊàêÂäüÔºåÈïøÂ∫¶: 5452313 Â≠óÁ¨¶
Ê≠£Âú®Âä†ËΩΩÊñáÊú¨Êñá‰ª∂: tariff_database_text_version_202207.txt
  --> Âä†ËΩΩÊàêÂäüÔºåÈïøÂ∫¶: 5744642 Â≠óÁ¨¶
Ë∑≥ËøáÊñá‰ª∂: td-codes.pdf
Ë∑≥ËøáÊñá‰ª∂: td-fields.pdf
Ê≠£Âú®Âä†ËΩΩÊñáÊú¨Êñá‰ª∂: trade_tariff_database_201811.txt
  --> Âä†ËΩΩÊàêÂäüÔºåÈïøÂ∫¶: 5775228 Â≠óÁ¨¶
Ê≠£Âú®Âä†ËΩΩÊñáÊú¨Êñá‰ª∂: trade_tariff_database_202307.txt
  --> Âä†ËΩΩÊàêÂäüÔºåÈïøÂ∫¶: 6625260 Â≠óÁ¨¶
Ê≠£Âú®Âä†ËΩΩÊñáÊú¨Êñá‰ª∂: trade_tariff_database_202405.txt
  --> Âä†ËΩΩÊàêÂäüÔºåÈïøÂ∫¶: 5374502 Â≠óÁ¨¶

====================================
‚úÖ ÊâÄÊúâÂèØÂä†ËΩΩÊñá‰ª∂Â§ÑÁêÜÂÆåÊØï„ÄÇ
DataFrame Êï∞Èáè: 13
ÊñáÊú¨Êñá‰ª∂Êï∞Èáè: 10
====================================

Á§∫‰æãÊï∞ÊçÆ (Êñá‰ª∂: 2019_Tariff_Database_v11.xlsx):
      hts8                                brief_description quantity_1_code  \
0  1012100                    Live purebred breeding horses              NO
1  1012900  Live horses other than purebred breeding horses              NO

  quantity_2_code wto_binding_code mfn_text_rate mfn_rate_type_code  mfn_ave  \
0             NaN                B          Free                  0      NaN
1             NaN                B          Free                  0      NaN

   mfn_ad_val_rate  mfn_specific_rate  ...  colombia_rate_type_code  \
0              0.0                0.0  ...                      NaN
1              0.0                0.0  ...                      NaN

  colombia_ad_val_rate  colombia_specific_rate colombia_other_rate  \
0                  NaN                     NaN                 NaN
1                  NaN                     NaN                 NaN

  panama_indicator panama_rate_type_code panama_ad_val_rate  \
0              NaN                   NaN                NaN
1              NaN                   NaN                NaN

  panama_specific_rate panama_other_rate nepal_indicator
0                  NaN               NaN             NaN
1                  NaN               NaN             NaN

[2 rows x 112 columns]

In [6]:
# ‰∏ìÈó®Â§ÑÁêÜÁºñÁ†ÅÈîôËØØÁöÑÊñáÊú¨Êñá‰ª∂
file_path_2025 = os.path.join(LOCAL_REPO_PATH, 'tariff_database_2025.txt')

print(f"ÈáçÊñ∞Â∞ùËØïÂä†ËΩΩÊñá‰ª∂: {os.path.basename(file_path_2025)}")
try:
    # Â∞ùËØï‰ΩøÁî® latin-1 ÁºñÁ†Å
    with open(file_path_2025, 'r', encoding='latin-1') as f:
        content_2025 = f.read()
        text_contents['tariff_database_2025.txt'] = content_2025
    print(f"  --> ‚úÖ ÈáçÊñ∞Âä†ËΩΩÊàêÂäüÔºåÈïøÂ∫¶: {len(content_2025)} Â≠óÁ¨¶ (‰ΩøÁî® 'latin-1')")
    
except Exception as e:
    print(f"  --> ‚ùå ‰ΩøÁî® latin-1 Â§±Ë¥•ÔºåÂ∞ùËØï gbk: {e}")
    try:
        # Â¶ÇÊûú latin-1 Â§±Ë¥•ÔºåÂ∞ùËØï gbk
        with open(file_path_2025, 'r', encoding='gbk') as f:
            content_2025 = f.read()
            text_contents['tariff_database_2025.txt'] = content_2025
        print(f"  --> ‚úÖ ÈáçÊñ∞Âä†ËΩΩÊàêÂäüÔºåÈïøÂ∫¶: {len(content_2025)} Â≠óÁ¨¶ (‰ΩøÁî® 'gbk')")
    except Exception as e_final:
         print(f"  --> ‚ùå ÊúÄÁªàÂä†ËΩΩÂ§±Ë¥•: {e_final}")

ÈáçÊñ∞Â∞ùËØïÂä†ËΩΩÊñá‰ª∂: tariff_database_2025.txt
  --> ‚úÖ ÈáçÊñ∞Âä†ËΩΩÊàêÂäüÔºåÈïøÂ∫¶: 5410072 Â≠óÁ¨¶ (‰ΩøÁî® 'latin-1')

In [9]:
import pandas as pd
from IPython.display import display

# ÂÅáËÆæÊÇ®Â∑≤ÊàêÂäüËøêË°å‰∫Ü‰πãÂâçÁöÑÂä†ËΩΩ‰ª£Á†ÅÔºåÂπ∂‰∏î data_frames Â≠óÂÖ∏Â∑≤Â°´ÂÖÖ

print("=" * 80)
print("             üåü ÂºÄÂßãÊâπÈáèÊï∞ÊçÆÊé¢Á¥¢ (Exploratory Data Analysis) üåü")
print("=" * 80)

# ÈÅçÂéÜ data_frames Â≠óÂÖ∏‰∏≠ÁöÑÊâÄÊúâ DataFrame
for file_name, df in data_frames.items():
    
    print(f"\n\n{'#'*20} üìä Êï∞ÊçÆÈõÜÊé¢Á¥¢Ôºö{file_name} {'#'*20}")
    print(f"Êï∞ÊçÆÂΩ¢Áä∂ (Ë°å, Âàó): {df.shape}")
    print("-" * 50)
    
    # --------------------------------------------------------------------------------------------------------------------------------
    # [-- Ê£ÄÊü•Êï¥‰Ωì‰ø°ÊÅØ (info) --]
    # --------------------------------------------------------------------------------------------------------------------------------
    print(f"[-- Êï∞ÊçÆÊï¥‰ΩìÊ¶ÇËßà (info) --]")
    # ‰∏∫‰∫ÜÂú® Notebook ‰∏≠ÊòæÁ§∫ infoÔºåÊàë‰ª¨‰ΩøÁî® print ÊçïËé∑ËæìÂá∫
    df.info(verbose=False) # ‰ΩøÁî® verbose=False ÁÆÄÂåñËæìÂá∫ÔºåÂè™ÊòæÁ§∫ÂàóÊï∞ÂíåÂÜÖÂ≠ò
    print(f"**" * 40 + "\n")

    # --------------------------------------------------------------------------------------------------------------------------------
    # [-- Êï∞ÂÄºÂûãÊï∞ÊçÆÁªüËÆ°Ê¶ÇËßà (describe) --]
    # --------------------------------------------------------------------------------------------------------------------------------
    print(f"[-- Êï∞ÂÄºÂûãÊï∞ÊçÆÁªüËÆ°Ê¶ÇËßà (describe) --]")
    
    # ËÆæÁΩÆÊòæÁ§∫ÈÄâÈ°πÔºåÁ°Æ‰øùÊâÄÊúâÂàóÈÉΩËÉΩÊòæÁ§∫
    with pd.option_context('display.max_rows', None, 'display.max_columns', None):
        try:
            # Â∞ùËØïÂØπÊï∞ÂÄºÂûãÊï∞ÊçÆËøõË°åÁªüËÆ°
            display(df.describe(include=['number']))
        except ValueError:
            print("‚ö†Ô∏è Ë≠¶ÂëäÔºöÂΩìÂâçÊï∞ÊçÆË°®‰∏≠Ê≤°ÊúâÊï∞ÂÄºÂûãÊï∞ÊçÆ„ÄÇ")
    print(f"**" * 40 + "\n")

    # --------------------------------------------------------------------------------------------------------------------------------
    # [-- ÈùûÊï∞ÂÄºÂûãÊï∞ÊçÆÁªüËÆ°Ê¶ÇËßà (describe for objects) --]
    # --------------------------------------------------------------------------------------------------------------------------------
    print(f"[-- ÈùûÊï∞ÂÄºÂûãÊï∞ÊçÆÁªüËÆ°Ê¶ÇËßà (describe for objects) --]")
    
    with pd.option_context('display.max_rows', None, 'display.max_columns', None):
        try:
            # ÂØπÈùûÊï∞ÂÄºÂûãÊï∞ÊçÆ (Â¶ÇÊñáÊú¨„ÄÅÁ±ªÂà´) ËøõË°åÁªüËÆ°
            display(df.describe(include=['object']))
        except ValueError:
            print("‚ö†Ô∏è Ë≠¶ÂëäÔºöÂΩìÂâçÊï∞ÊçÆË°®‰∏≠Ê≤°ÊúâÈùûÊï∞ÂÄºÂûãÊï∞ÊçÆ„ÄÇ")
    print(f"**" * 40 + "\n")

print("=" * 80)
print("             üéâ ÊâÄÊúâ DataFrame ÁöÑÊï∞ÊçÆÊé¢Á¥¢Â∑≤ÂÆåÊàêÔºÅ")
print("=" * 80)

================================================================================
             üåü ÂºÄÂßãÊâπÈáèÊï∞ÊçÆÊé¢Á¥¢ (Exploratory Data Analysis) üåü
================================================================================


#################### üìä Êï∞ÊçÆÈõÜÊé¢Á¥¢Ôºö2019_Tariff_Database_v11.xlsx ####################
Êï∞ÊçÆÂΩ¢Áä∂ (Ë°å, Âàó): (14819, 112)
--------------------------------------------------
[-- Êï∞ÊçÆÊï¥‰ΩìÊ¶ÇËßà (info) --]
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 14819 entries, 0 to 14818
Columns: 112 entries, hts8 to nepal_indicator
dtypes: datetime64[ns](2), float64(66), object(44)
memory usage: 12.7+ MB
********************************************************************************

[-- Êï∞ÂÄºÂûãÊï∞ÊçÆÁªüËÆ°Ê¶ÇËßà (describe) --]

,mfn_ave,mfn_ad_val_rate,mfn_specific_rate,mfn_other_rate,col1_special_mod,mexico_ad_val_rate,mexico_specific_rate,cbi_ad_val_rate,cbi_specific_rate,cbtpa_rate_type_code,cbtpa_ad_val_rate,cbtpa_specific_rate,atpa_indicator,atpa_ad_val_rate,atpa_specific_rate,atpdea_indicator,jordan_rate_type_code,jordan_ad_val_rate,jordan_specific_rate,jordan_other_rate,singapore_rate_type_code,singapore_ad_val_rate,singapore_specific_rate,singapore_other_rate,chile_rate_type_code,chile_ad_val_rate,chile_specific_rate,chile_other_rate,morocco_rate_type_code,morocco_ad_val_rate,morocco_specific_rate,morocco_other_rate,australia_ad_val_rate,australia_specific_rate,australia_other_rate,bahrain_ad_val_rate,bahrain_specific_rate,bahrain_other_rate,dr_cafta_ad_val_rate,dr_cafta_specific_rate,dr_cafta_other_rate,dr_cafta_plus_rate_type_code,dr_cafta_plus_ad_val_rate,dr_cafta_plus_specific_rate,dr_cafta_plus_other_rate,oman_rate_type_code,oman_ad_val_rate,oman_specific_rate,oman_other_rate,peru_rate_type_code,peru_ad_val_rate,peru_specific_rate,peru_other_rate,col2_ad_val_rate,col2_specific_rate,col2_other_rate,korea_ad_val_rate,korea_specific_rate,korea_other_rate,colombia_rate_type_code,colombia_ad_val_rate,colombia_specific_rate,colombia_other_rate,panama_ad_val_rate,panama_specific_rate,panama_other_rate
count,0.0,14819.000000,14315.000000,14316.000000,0.0,6876.000000,6876.000000,5505.000000,5505.000000,268.0,268.0,268.0,0.0,0.0,0.0,0.0,6891.000000,6874.0,6866.000000,6874.000000,6930.0,6895.0,6895.0,6895.0,6931.0,6896.0,6896.0,6896.0,7216.000000,7199.000000,7199.000000,7199.000000,7014.000000,7014.000000,7014.000000,6891.000000,6891.000000,6891.000000,6873.000000,6873.000000,6873.000000,299.000000,299.000000,299.000000,299.000000,6973.0,6956.0,6956.0,6956.0,6993.000000,6976.000000,6976.000000,6976.000000,12418.000000,12418.000000,12418.000000,7180.000000,7180.000000,7180.000000,6968.000000,6949.000000,6949.000000,6949.000000,6968.000000,6968.000000,6968.000000
mean,NaN,444.732045,460.384656,460.323742,NaN,4.362997,4.362997,1.817786,1.816621,0.0,0.0,0.0,NaN,NaN,NaN,NaN,0.005079,0.0,0.000130,0.000032,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.421286,294.486899,294.485935,294.485051,232.393956,232.392423,232.392126,4.353500,4.353500,4.353500,4.365635,4.376990,4.364902,6.622074,6321.085953,6321.302040,6321.063913,0.0,0.0,0.0,0.0,0.215501,187.787923,187.792440,187.786509,824.102043,818.280361,818.166803,54.320684,54.326186,54.317495,0.257893,221.615582,221.617979,221.614399,185.135574,185.139967,185.131847
std,NaN,2061.430062,2095.689743,2095.624352,NaN,208.847403,208.847403,134.778572,134.778587,0.0,0.0,0.0,NaN,NaN,NaN,NaN,0.082436,0.0,0.003024,0.001907,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.784949,1690.716446,1690.716614,1690.716768,1506.730120,1506.730357,1506.730402,208.620041,208.620041,208.620041,208.892950,208.892737,208.892965,3.340967,4830.370934,4830.087224,4830.399872,0.0,0.0,0.0,0.0,1.302954,1357.520934,1357.520311,1357.521129,2749.452639,2740.926526,2740.960322,735.050281,735.049878,735.050516,1.424506,1472.188915,1472.188555,1472.189093,1348.073534,1348.072931,1348.074043
min,NaN,0.000000,0.000000,0.000000,NaN,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.0,NaN,NaN,NaN,NaN,0.000000,0.0,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,NaN,0.000000,0.000000,0.000000,NaN,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.0,NaN,NaN,NaN,NaN,0.000000,0.0,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,4.000000,0.060000,0.865000,0.000000,0.0,0.0,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0.200000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,NaN,0.000000,0.000000,0.000000,NaN,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.0,NaN,NaN,NaN,NaN,0.000000,0.0,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,9.000000,9999.990000,9999.990000,9999.990000,0.0,0.0,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0.350000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,NaN,0.057000,0.000000,0.000000,NaN,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.0,NaN,NaN,NaN,NaN,0.000000,0.0,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,9.000000,9999.990000,9999.990000,9999.990000,0.0,0.0,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0.520000,0.070000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
max,NaN,9999.999999,9999.999999,9999.999999,NaN,9999.990000,9999.990000,9999.990000,9999.990000,0.0,0.0,0.0,NaN,NaN,NaN,NaN,3.000000,0.0,0.100000,0.130000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,9.000000,9999.990000,9999.990000,9999.990000,9999.990000,9999.990000,9999.990000,9999.990000,9999.990000,9999.990000,9999.990000,9999.990000,9999.990000,9.000000,9999.990000,9999.990000,9999.990000,0.0,0.0,0.0,0.0,9.000000,9999.990000,9999.990000,9999.990000,9999.990000,9999.990000,9999.990000,9999.990000,9999.990000,9999.990000,9.000000,9999.990000,9999.990000,9999.990000,9999.990000,9999.990000,9999.990000

********************************************************************************

[-- ÈùûÊï∞ÂÄºÂûãÊï∞ÊçÆÁªüËÆ°Ê¶ÇËßà (describe for objects) --]

,hts8,brief_description,quantity_1_code,quantity_2_code,wto_binding_code,mfn_text_rate,mfn_rate_type_code,col1_special_text,gsp_indicator,gsp_ctry_excluded,apta_indicator,civil_air_indicator,nafta_canada_ind,nafta_mexico_ind,mexico_rate_type_code,cbi_indicator,agoa_indicator,cbtpa_indicator,israel_fta_indicator,jordan_indicator,singapore_indicator,chile_indicator,morocco_indicator,australia_indicator,australia_rate_type_code,bahrain_indicator,bahrain_rate_type_code,dr_cafta_indicator,dr_cafta_rate_type_code,dr_cafta_plus_indicator,oman_indicator,peru_indicator,pharmaceutical_ind,dyes_indicator,col2_text_rate,col2_rate_type_code,footnote_comment,additional_duty,korea_indicator,korea_rate_type_code,colombia_indicator,panama_indicator,panama_rate_type_code,nepal_indicator
count,14819,14819,11926,1686,14805,13981,14371,8106,5327,582,617,223,7092,7131,7128,5864,5540,268,7145,7238,7277,7277,7533,7323,7031,7273,6908,7243,6884,299,7299,7350,437,113,12202,12531,2002,1109,7320,7182,7323,7339,6986,81
unique,14454,14408,38,15,4,1050,14,1163,3,49,1,1,1,1,2,2,1,1,1,1,1,2,1,1,7,1,3,1,7,1,1,1,1,1,1074,14,98,2,1,9,1,1,7,1
top,71131950,Sugars described in US note 15(b) to this subc...,KG,KG,B,Free,7,"Free(A,AU,BH,CA,CL,CO,D,E,IL,JO,KR,MA,MX,OM,P,...",A,UA,B,C,CA,MX,0,E,D,R,IL,JO,SG,CL,MA,AU,0,BH,0,P,0,P+,OM,PE,K,L,35%,7,See chapter 99 statistical note 1.,No,KR,0,CO,PA,0,NP
freq,4,13,6257,1512,12009,5727,6404,2205,3254,148,617,223,7092,7131,7126,5586,5540,268,7145,7238,7277,7275,7533,7323,6616,7273,6905,7243,6735,299,7299,7350,437,113,1653,7819,716,597,7320,6382,7323,7339,6707,81

********************************************************************************



#################### üìä Êï∞ÊçÆÈõÜÊé¢Á¥¢ÔºöDataWeb-Query-Export.xlsx ####################
Êï∞ÊçÆÂΩ¢Áä∂ (Ë°å, Âàó): (32, 2)
--------------------------------------------------
[-- Êï∞ÊçÆÊï¥‰ΩìÊ¶ÇËßà (info) --]
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32 entries, 0 to 31
Columns: 2 entries, Download Date to 2025-08-07 10:56:10.590000
dtypes: object(2)
memory usage: 640.0+ bytes
********************************************************************************

[-- Êï∞ÂÄºÂûãÊï∞ÊçÆÁªüËÆ°Ê¶ÇËßà (describe) --]
‚ö†Ô∏è Ë≠¶ÂëäÔºöÂΩìÂâçÊï∞ÊçÆË°®‰∏≠Ê≤°ÊúâÊï∞ÂÄºÂûãÊï∞ÊçÆ„ÄÇ
********************************************************************************

[-- ÈùûÊï∞ÂÄºÂûãÊï∞ÊçÆÁªüËÆ°Ê¶ÇËßà (describe for objects) --]

       Download Date 2025-08-07 10:56:10.590000
count             32                         21
unique            27                         21
top      Select Type              Total Exports
freq               6                          1

********************************************************************************



#################### üìä Êï∞ÊçÆÈõÜÊé¢Á¥¢ÔºöDataWeb-Query-Import.xlsx ####################
Êï∞ÊçÆÂΩ¢Áä∂ (Ë°å, Âàó): (32, 2)
--------------------------------------------------
[-- Êï∞ÊçÆÊï¥‰ΩìÊ¶ÇËßà (info) --]
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32 entries, 0 to 31
Columns: 2 entries, Download Date to 2025-08-07 11:00:56.677000
dtypes: object(2)
memory usage: 640.0+ bytes
********************************************************************************

[-- Êï∞ÂÄºÂûãÊï∞ÊçÆÁªüËÆ°Ê¶ÇËßà (describe) --]
‚ö†Ô∏è Ë≠¶ÂëäÔºöÂΩìÂâçÊï∞ÊçÆË°®‰∏≠Ê≤°ÊúâÊï∞ÂÄºÂûãÊï∞ÊçÆ„ÄÇ
********************************************************************************

[-- ÈùûÊï∞ÂÄºÂûãÊï∞ÊçÆÁªüËÆ°Ê¶ÇËßà (describe for objects) --]

       Download Date 2025-08-07 11:00:56.677000
count             32                         21
unique            27                         21
top      Select Type            General Imports
freq               6                          1

********************************************************************************



#################### üìä Êï∞ÊçÆÈõÜÊé¢Á¥¢Ôºötariff database_202106.xlsx ####################
Êï∞ÊçÆÂΩ¢Áä∂ (Ë°å, Âàó): (13066, 122)
--------------------------------------------------
[-- Êï∞ÊçÆÊï¥‰ΩìÊ¶ÇËßà (info) --]
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13066 entries, 0 to 13065
Columns: 122 entries, hts8 to usmca_other_rate
dtypes: datetime64[ns](2), float64(76), object(44)
memory usage: 12.2+ MB
********************************************************************************

[-- Êï∞ÂÄºÂûãÊï∞ÊçÆÁªüËÆ°Ê¶ÇËßà (describe) --]

,mfn_ave,mfn_ad_val_rate,mfn_specific_rate,mfn_other_rate,col1_special_mod,mexico_ad_val_rate,mexico_specific_rate,cbi_ad_val_rate,cbi_specific_rate,cbtpa_rate_type_code,cbtpa_ad_val_rate,cbtpa_specific_rate,atpa_indicator,atpa_ad_val_rate,atpa_specific_rate,atpdea_indicator,jordan_rate_type_code,jordan_ad_val_rate,jordan_specific_rate,jordan_other_rate,singapore_rate_type_code,singapore_ad_val_rate,singapore_specific_rate,singapore_other_rate,chile_rate_type_code,chile_ad_val_rate,chile_specific_rate,chile_other_rate,morocco_rate_type_code,morocco_ad_val_rate,morocco_specific_rate,morocco_other_rate,australia_rate_type_code,australia_ad_val_rate,australia_specific_rate,australia_other_rate,bahrain_ad_val_rate,bahrain_specific_rate,bahrain_other_rate,dr_cafta_ad_val_rate,dr_cafta_specific_rate,dr_cafta_other_rate,dr_cafta_plus_rate_type_code,dr_cafta_plus_ad_val_rate,dr_cafta_plus_specific_rate,dr_cafta_plus_other_rate,oman_rate_type_code,oman_ad_val_rate,oman_specific_rate,oman_other_rate,peru_rate_type_code,peru_ad_val_rate,peru_specific_rate,peru_other_rate,col2_ad_val_rate,col2_specific_rate,col2_other_rate,korea_rate_type_code,korea_ad_val_rate,korea_specific_rate,korea_other_rate,colombia_rate_type_code,colombia_ad_val_rate,colombia_specific_rate,colombia_other_rate,panama_ad_val_rate,panama_specific_rate,panama_other_rate,japan_rate_type_code,japan_ad_val_rate,japan_specific_rate,japan_other_rate,usmca_rate_type_code,usmca_ad_val_rate,usmca_specific_rate,usmca_other_rate
count,0.0,13066.000000,12331.000000,12331.000000,0.0,6546.000000,6546.000000,5188.000000,5188.000000,268.0,268.0,268.0,0.0,0.0,0.0,0.0,6566.000000,6549.0,6542.000000,6549.000000,6604.0,6572.0,6572.0,6572.0,6605.0,6573.0,6573.0,6573.0,7183.000000,6876.000000,6876.000000,6876.000000,6705.000000,6688.000000,6688.000000,6688.000000,6568.000000,6568.000000,6568.000000,6550.000000,6550.000000,6550.000000,299.000000,299.000000,299.000000,299.000000,6651.0,6633.0,6633.0,6633.0,6671.000000,6653.000000,6653.000000,6653.000000,12096.000000,12096.000000,12096.000000,6858.000000,6839.000000,6839.000000,6839.000000,6725.000000,6626.000000,6626.000000,6626.000000,6646.000000,6646.000000,6646.000000,241.000000,241.000000,241.000000,241.000000,7146.000000,7146.000000,7146.000000,7146.000000
mean,NaN,515.878005,546.622755,546.589961,NaN,4.582947,4.582947,1.928857,1.927621,0.0,0.0,0.0,NaN,NaN,NaN,NaN,0.004721,0.0,0.000112,0.000034,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.132814,79.989218,79.988644,79.988365,0.406264,243.721746,243.720357,243.720096,4.567596,4.567596,4.567596,4.580412,4.588640,4.580148,6.458194,6321.080431,6321.257685,6321.070167,0.0,0.0,0.0,0.0,0.225903,196.904335,196.907761,196.903582,845.203698,840.888910,840.773425,0.083552,46.791242,46.795208,46.790462,0.239108,232.418417,232.420137,232.417677,195.606607,195.613463,195.606375,2.302905,41.508085,41.493776,41.493776,0.302267,256.089803,256.109202,256.087070
std,NaN,2211.938246,2273.218339,2273.226218,NaN,214.045365,214.045365,138.835180,138.835196,0.0,0.0,0.0,NaN,NaN,NaN,NaN,0.080794,0.0,0.002804,0.001954,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.007027,890.842744,890.842795,890.842820,1.745833,1542.127184,1542.127404,1542.127445,213.686693,213.686693,213.686693,213.980012,213.979847,213.980017,3.487383,4830.391174,4830.158449,4830.404651,0.0,0.0,0.0,0.0,1.333153,1389.443764,1389.443279,1389.443870,2781.245682,2775.115205,2775.150090,0.775060,682.483160,682.482890,682.483213,1.392463,1506.817975,1506.817709,1506.818089,1384.951396,1384.950431,1384.951429,3.307119,644.155701,644.156626,644.156626,1.503581,1579.758028,1579.754892,1579.758471
min,NaN,0.000000,0.000000,0.000000,NaN,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.0,NaN,NaN,NaN,NaN,0.000000,0.0,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,NaN,0.000000,0.000000,0.000000,NaN,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.0,NaN,NaN,NaN,NaN,0.000000,0.0,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,4.000000,0.034000,0.657000,0.000000,0.0,0.0,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0.180000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,NaN,0.018000,0.000000,0.000000,NaN,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.0,NaN,NaN,NaN,NaN,0.000000,0.0,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,9.000000,9999.999999,9999.999999,9999.999999,0.0,0.0,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0.350000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,NaN,0.064000,0.000000,0.000000,NaN,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.0,NaN,NaN,NaN,NaN,0.000000,0.0,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,9.000000,9999.999999,9999.999999,9999.999999,0.0,0.0,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0.530000,0.080000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,7.000000,0.028500,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
max,NaN,9999.999999,9999.999999,9999.999999,NaN,9999.990000,9999.990000,9999.990000,9999.990000,0.0,0.0,0.0,NaN,NaN,NaN,NaN,3.000000,0.0,0.100000,0.130000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,9.000000,9999.999999,9999.999999,9999.999999,9.000000,9999.999999,9999.999999,9999.999999,9999.990000,9999.990000,9999.990000,9999.990000,9999.990000,9999.990000,9.000000,9999.999999,9999.999999,9999.999999,0.0,0.0,0.0,0.0,9.000000,9999.999999,9999.999999,9999.999999,9999.990000,9999.990000,9999.990000,9.000000,9999.999999,9999.999999,9999.999999,9.000000,9999.999999,9999.999999,9999.999999,9999.999999,9999.999999,9999.999999,9.000000,9999.999990,9999.999990,9999.999990,9.000000,9999.999999,9999.999999,9999.999999

********************************************************************************

[-- ÈùûÊï∞ÂÄºÂûãÊï∞ÊçÆÁªüËÆ°Ê¶ÇËßà (describe for objects) --]

,hts8,brief_description,quantity_1_code,quantity_2_code,wto_binding_code,mfn_text_rate,mfn_rate_type_code,col1_special_text,gsp_indicator,gsp_ctry_excluded,apta_indicator,civil_air_indicator,nafta_canada_ind,nafta_mexico_ind,mexico_rate_type_code,cbi_indicator,agoa_indicator,cbtpa_indicator,israel_fta_indicator,jordan_indicator,singapore_indicator,chile_indicator,morocco_indicator,australia_indicator,bahrain_indicator,bahrain_rate_type_code,dr_cafta_indicator,dr_cafta_rate_type_code,dr_cafta_plus_indicator,oman_indicator,peru_indicator,pharmaceutical_ind,dyes_indicator,col2_text_rate,col2_rate_type_code,footnote_comment,additional_duty,korea_indicator,colombia_indicator,panama_indicator,panama_rate_type_code,nepal_indicator,japan_indicator,usmca_indicator
count,13066,13066,11570,1684,13046,12002,12362,8009,4977,1039,535,177,6743,6783,6779,5519,5218,268,6795,6889,6927,6927,7183,6973,6923,6585,6893,6561,299,6949,7000,426,110,11852,12363,2008,1109,6970,6973,6990,6741,77,241,7147
unique,13021,12989,37,15,4,1045,14,983,3,41,1,1,1,1,2,2,1,1,1,1,1,1,1,1,1,3,1,6,1,1,1,1,1,1074,14,98,2,1,1,1,7,1,1,2
top,32149050,Sugars described in US note 15(b) to this subc...,KG,KG,B,Free,7,"Free (A,AU,BH,CA,CL,CO,D,E,IL,JO,KR,MA,MX,OM,P...",A,TH,B,C,CA,MX,0,E,D,R,IL,JO,SG,CL,MA,AU,BH,0,P,0,P+,OM,PE,K,L,35%,7,See chapter 99 statistical note 1.,No,KR,CO,PA,0,NP,JP,S
freq,2,13,6290,1512,11659,4372,5781,1761,2456,755,535,177,6743,6783,6777,5241,5218,268,6795,6889,6927,6927,7183,6973,6923,6582,6893,6437,299,6949,7000,426,110,1549,7684,716,597,6970,6973,6990,6507,77,241,6738

********************************************************************************



#################### üìä Êï∞ÊçÆÈõÜÊé¢Á¥¢Ôºötariff database_202207.xlsx ####################
Êï∞ÊçÆÂΩ¢Áä∂ (Ë°å, Âàó): (13826, 122)
--------------------------------------------------
[-- Êï∞ÊçÆÊï¥‰ΩìÊ¶ÇËßà (info) --]
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13826 entries, 0 to 13825
Columns: 122 entries, hts8 to usmca_other_rate
dtypes: datetime64[ns](2), float64(76), object(44)
memory usage: 12.9+ MB
********************************************************************************

[-- Êï∞ÂÄºÂûãÊï∞ÊçÆÁªüËÆ°Ê¶ÇËßà (describe) --]

,mfn_ave,mfn_ad_val_rate,mfn_specific_rate,mfn_other_rate,col1_special_mod,mexico_ad_val_rate,mexico_specific_rate,cbi_ad_val_rate,cbi_specific_rate,cbtpa_rate_type_code,cbtpa_ad_val_rate,cbtpa_specific_rate,atpa_indicator,atpa_ad_val_rate,atpa_specific_rate,atpdea_indicator,jordan_rate_type_code,jordan_ad_val_rate,jordan_specific_rate,jordan_other_rate,singapore_rate_type_code,singapore_ad_val_rate,singapore_specific_rate,singapore_other_rate,chile_rate_type_code,chile_ad_val_rate,chile_specific_rate,chile_other_rate,morocco_rate_type_code,morocco_ad_val_rate,morocco_specific_rate,morocco_other_rate,australia_rate_type_code,australia_ad_val_rate,australia_specific_rate,australia_other_rate,bahrain_ad_val_rate,bahrain_specific_rate,bahrain_other_rate,dr_cafta_ad_val_rate,dr_cafta_specific_rate,dr_cafta_other_rate,dr_cafta_plus_rate_type_code,dr_cafta_plus_ad_val_rate,dr_cafta_plus_specific_rate,dr_cafta_plus_other_rate,oman_rate_type_code,oman_ad_val_rate,oman_specific_rate,oman_other_rate,peru_rate_type_code,peru_ad_val_rate,peru_specific_rate,peru_other_rate,col2_ad_val_rate,col2_specific_rate,col2_other_rate,korea_rate_type_code,korea_ad_val_rate,korea_specific_rate,korea_other_rate,colombia_rate_type_code,colombia_ad_val_rate,colombia_specific_rate,colombia_other_rate,panama_ad_val_rate,panama_specific_rate,panama_other_rate,japan_rate_type_code,japan_ad_val_rate,japan_specific_rate,japan_other_rate,usmca_rate_type_code,usmca_ad_val_rate,usmca_specific_rate,usmca_other_rate
count,0.0,13826.000000,13230.000000,13230.000000,0.0,6967.000000,6967.000000,5523.000000,5523.000000,269.0,269.0,269.0,0.0,0.0,0.0,0.0,6989.000000,6969.0,6960.000000,6969.000000,7031.0,6994.0,6994.0,6994.0,7032.0,6995.0,6995.0,6995.0,7528.000000,7167.000000,7167.000000,7167.000000,7129.000000,7109.000000,7109.000000,7109.000000,6990.000000,6990.000000,6990.000000,6971.000000,6971.000000,6971.000000,297.000000,297.000000,297.000000,297.000000,7077.0,7056.0,7056.0,7057.0,7097.000000,7075.000000,7075.000000,7075.000000,12681.000000,12681.000000,12681.000000,7316.000000,7292.000000,7292.000000,7292.000000,7167.000000,7048.000000,7048.000000,7048.000000,7068.000000,7068.000000,7068.000000,273.000000,273.000000,273.000000,273.000000,7606.000000,7606.000000,7606.000000,7606.000000
mean,NaN,483.906673,505.700295,505.668995,NaN,4.306010,4.306010,1.811861,1.810701,0.0,0.0,0.0,NaN,NaN,NaN,NaN,0.004722,0.0,0.000105,0.000032,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.127922,78.136631,78.136073,78.135901,0.206761,229.286871,229.286820,229.286820,4.291841,4.291841,4.291841,4.303730,4.309563,4.303539,6.653199,6531.995740,6532.156555,6531.986464,0.0,0.0,0.0,0.0,0.217839,187.986186,187.988820,187.985798,702.927871,693.275311,693.162742,0.053171,4.114961,4.117541,4.114094,0.219339,211.408127,211.409186,211.407425,166.951929,166.955518,166.949628,2.032967,36.641672,36.630037,36.630037,0.283592,247.174709,247.193656,247.173042
std,NaN,2145.897733,2191.191341,2191.198558,NaN,207.479376,207.479376,134.558765,134.558780,0.0,0.0,0.0,NaN,NaN,NaN,NaN,0.080108,0.0,0.002718,0.001894,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.989369,880.546341,880.546390,880.546406,1.347735,1496.867030,1496.867038,1496.867038,207.137846,207.137846,207.137846,207.419855,207.419740,207.419858,3.365806,4767.538743,4767.317675,4767.551495,0.0,0.0,0.0,0.0,1.309450,1358.226505,1358.226142,1358.226559,2555.905599,2539.979292,2540.009904,0.565143,202.804344,202.804294,202.804361,1.335615,1438.636104,1438.635948,1438.636207,1281.349127,1281.348661,1281.349426,3.193918,605.226826,605.227532,605.227532,1.463979,1552.723301,1552.720293,1552.723566
min,NaN,0.000000,0.000000,0.000000,NaN,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.0,NaN,NaN,NaN,NaN,0.000000,0.0,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,NaN,0.000000,0.000000,0.000000,NaN,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.0,NaN,NaN,NaN,NaN,0.000000,0.0,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,4.000000,0.044000,0.643000,0.000000,0.0,0.0,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0.190000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,NaN,0.019000,0.000000,0.000000,NaN,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.0,NaN,NaN,NaN,NaN,0.000000,0.0,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,9.000000,9999.999999,9999.999999,9999.999999,0.0,0.0,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0.350000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,NaN,0.063000,0.000000,0.000000,NaN,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.0,NaN,NaN,NaN,NaN,0.000000,0.0,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,9.000000,9999.999999,9999.999999,9999.999999,0.0,0.0,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0.500000,0.050000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,7.000000,0.027500,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
max,NaN,9999.999999,9999.999999,9999.999999,NaN,9999.990000,9999.990000,9999.990000,9999.990000,0.0,0.0,0.0,NaN,NaN,NaN,NaN,3.000000,0.0,0.100000,0.130000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,9.000000,9999.999999,9999.999999,9999.999999,9.000000,9999.999999,9999.999999,9999.999999,9999.990000,9999.990000,9999.990000,9999.990000,9999.990000,9999.990000,9.000000,9999.999999,9999.999999,9999.999999,0.0,0.0,0.0,0.0,9.000000,9999.999999,9999.999999,9999.999999,9999.990000,9999.990000,9999.990000,9.000000,9999.990000,9999.990000,9999.990000,9.000000,9999.999999,9999.999999,9999.999999,9999.999999,9999.999999,9999.999999,9.000000,9999.999990,9999.999990,9999.999990,9.000000,9999.999999,9999.999999,9999.999999

********************************************************************************

[-- ÈùûÊï∞ÂÄºÂûãÊï∞ÊçÆÁªüËÆ°Ê¶ÇËßà (describe for objects) --]

,hts8,brief_description,quantity_1_code,quantity_2_code,wto_binding_code,mfn_text_rate,mfn_rate_type_code,col1_special_text,gsp_indicator,gsp_ctry_excluded,apta_indicator,civil_air_indicator,nafta_canada_ind,nafta_mexico_ind,mexico_rate_type_code,cbi_indicator,agoa_indicator,cbtpa_indicator,israel_fta_indicator,jordan_indicator,singapore_indicator,chile_indicator,morocco_indicator,australia_indicator,bahrain_indicator,bahrain_rate_type_code,dr_cafta_indicator,dr_cafta_rate_type_code,dr_cafta_plus_indicator,oman_indicator,peru_indicator,pharmaceutical_ind,dyes_indicator,col2_text_rate,col2_rate_type_code,footnote_comment,additional_duty,korea_indicator,colombia_indicator,panama_indicator,panama_rate_type_code,nepal_indicator,japan_indicator,usmca_indicator
count,13826,13826,12439,1814,13814,12911,13239,8345,5347,1136,597,212,7214,7255,7247,5905,5584,269,7269,7361,7403,7403,7528,7445,7399,7010,7368,6985,297,7425,7476,490,112,12652,12970,2015,971,7446,7449,7466,7183,77,273,7607
unique,13777,13537,37,15,4,1044,14,982,3,41,1,1,1,1,2,2,1,1,1,1,1,1,1,1,1,3,1,6,1,1,1,1,1,1075,14,99,2,1,1,1,7,1,1,2
top,99038001,Sugars described in US note 15(b) to this subc...,KG,KG,B,Free,7,"Free (A,AU,BH,CA,CL,CO,D,E,IL,JO,KR,MA,MX,OM,P...",A,TH,B,C,CA,MX,0,E,D,R,IL,JO,SG,CL,MA,AU,BH,0,P,0,P+,OM,PE,K,L,35%,7,See chapter 99 statistical note 1.,Yes,KR,CO,PA,0,NP,JP,S
freq,4,13,6586,1638,12445,4801,6184,1849,2642,826,597,212,7214,7255,7245,5615,5584,269,7269,7361,7403,7403,7528,7445,7399,7007,7368,6860,297,7425,7476,490,112,1662,8242,606,512,7446,7449,7466,6957,77,273,7205

********************************************************************************



#################### üìä Êï∞ÊçÆÈõÜÊé¢Á¥¢Ôºötariff database_202307.xlsx ####################
Êï∞ÊçÆÂΩ¢Áä∂ (Ë°å, Âàó): (13102, 122)
--------------------------------------------------
[-- Êï∞ÊçÆÊï¥‰ΩìÊ¶ÇËßà (info) --]
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13102 entries, 0 to 13101
Columns: 122 entries, hts8 to usmca_other_rate
dtypes: datetime64[ns](2), float64(76), object(44)
memory usage: 12.2+ MB
********************************************************************************

[-- Êï∞ÂÄºÂûãÊï∞ÊçÆÁªüËÆ°Ê¶ÇËßà (describe) --]

,mfn_ave,mfn_ad_val_rate,mfn_specific_rate,mfn_other_rate,col1_special_mod,mexico_ad_val_rate,mexico_specific_rate,cbi_ad_val_rate,cbi_specific_rate,cbtpa_rate_type_code,cbtpa_ad_val_rate,cbtpa_specific_rate,atpa_indicator,atpa_ad_val_rate,atpa_specific_rate,atpdea_indicator,jordan_rate_type_code,jordan_ad_val_rate,jordan_specific_rate,jordan_other_rate,singapore_rate_type_code,singapore_ad_val_rate,singapore_specific_rate,singapore_other_rate,chile_rate_type_code,chile_ad_val_rate,chile_specific_rate,chile_other_rate,morocco_rate_type_code,morocco_ad_val_rate,morocco_specific_rate,morocco_other_rate,australia_rate_type_code,australia_ad_val_rate,australia_specific_rate,australia_other_rate,bahrain_ad_val_rate,bahrain_specific_rate,bahrain_other_rate,dr_cafta_ad_val_rate,dr_cafta_specific_rate,dr_cafta_other_rate,dr_cafta_plus_rate_type_code,dr_cafta_plus_ad_val_rate,dr_cafta_plus_specific_rate,dr_cafta_plus_other_rate,oman_rate_type_code,oman_ad_val_rate,oman_specific_rate,oman_other_rate,peru_rate_type_code,peru_ad_val_rate,peru_specific_rate,peru_other_rate,col2_ad_val_rate,col2_specific_rate,col2_other_rate,korea_rate_type_code,korea_ad_val_rate,korea_specific_rate,korea_other_rate,colombia_rate_type_code,colombia_ad_val_rate,colombia_specific_rate,colombia_other_rate,panama_ad_val_rate,panama_specific_rate,panama_other_rate,japan_rate_type_code,japan_ad_val_rate,japan_specific_rate,japan_other_rate,usmca_rate_type_code,usmca_ad_val_rate,usmca_specific_rate,usmca_other_rate
count,0.0,13102.000000,12667.000000,12667.000000,0.0,6699.000000,6699.000000,5326.000000,5326.000000,268.0,268.0,268.0,0.0,0.0,0.0,0.0,7075.000000,7055.0,7055.000000,7055.000000,6760.0,6724.0,6724.0,6724.0,6761.0,6725.0,6725.0,6725.0,7233.000000,6897.000000,6897.000000,6897.000000,6686.000000,6666.000000,6666.000000,6666.000000,6720.000000,6720.000000,6720.000000,6701.000000,6701.000000,6701.000000,291.000000,293.000000,293.000000,293.000000,6806.0,6786.0,6786.0,6787.0,6826.000000,6805.000000,6805.000000,6805.000000,12238.000000,12235.000000,12232.000000,7013.000000,6991.000000,6991.000000,6991.000000,6881.000000,6770.000000,6770.000000,6770.000000,6788.000000,6788.000000,6788.000000,261.000000,261.000000,261.000000,261.000000,7302.000000,7302.000000,7302.000000,7302.000000
mean,NaN,458.744438,474.493346,474.461262,NaN,4.478276,4.478276,1.878879,1.877676,0.0,0.0,0.0,NaN,NaN,NaN,NaN,0.004240,0.0,0.000169,0.000031,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.068436,81.194722,81.194722,81.194722,0.165271,183.018327,183.018302,183.018302,4.464281,4.464281,4.464281,4.477067,4.481086,4.476939,6.604811,6484.648163,6484.765569,6484.641467,0.0,0.0,0.0,0.0,0.140932,152.828732,152.830809,152.828732,548.596624,542.822064,542.838371,0.031085,4.291704,4.293779,4.291227,0.209708,202.363728,202.364672,202.363297,173.837799,173.841363,173.836177,2.126437,38.325782,38.314176,38.314176,0.283895,251.986480,252.006675,251.985511
std,NaN,2092.121784,2125.987982,2125.995135,NaN,211.587669,211.587669,137.024722,137.024738,0.0,0.0,0.0,NaN,NaN,NaN,NaN,0.076937,0.0,0.003567,0.001882,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.781875,897.480599,897.480599,897.480599,1.207579,1340.506203,1340.506206,1340.506206,211.256904,211.256904,211.256904,211.556098,211.556016,211.556101,3.383302,4782.658131,4782.498403,4782.667241,0.0,0.0,0.0,0.0,1.103735,1226.846027,1226.845769,1226.846027,2276.483381,2265.569935,2265.859676,0.418010,207.123026,207.122985,207.123035,1.304420,1408.181127,1408.180992,1408.181189,1307.055403,1307.054930,1307.055618,3.236111,618.983739,618.984460,618.984460,1.466350,1567.383775,1567.380537,1567.383931
min,NaN,0.000000,0.000000,0.000000,NaN,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.0,NaN,NaN,NaN,NaN,0.000000,0.0,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,NaN,0.000000,0.000000,0.000000,NaN,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.0,NaN,NaN,NaN,NaN,0.000000,0.0,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,4.000000,0.027000,0.429000,0.000000,0.0,0.0,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0.150000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,NaN,0.020000,0.000000,0.000000,NaN,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.0,NaN,NaN,NaN,NaN,0.000000,0.0,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,9.000000,9999.999999,9999.999999,9999.999999,0.0,0.0,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0.350000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,NaN,0.063000,0.000000,0.000000,NaN,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.0,NaN,NaN,NaN,NaN,0.000000,0.0,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,9.000000,9999.999999,9999.999999,9999.999999,0.0,0.0,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0.500000,0.044000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,7.000000,0.027500,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
max,NaN,9999.999999,9999.999999,9999.999999,NaN,9999.990000,9999.990000,9999.990000,9999.990000,0.0,0.0,0.0,NaN,NaN,NaN,NaN,3.000000,0.0,0.100000,0.130000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,9.000000,9999.999999,9999.999999,9999.999999,9.000000,9999.999999,9999.999999,9999.999999,9999.990000,9999.990000,9999.990000,9999.990000,9999.990000,9999.990000,9.000000,9999.999999,9999.999999,9999.999999,0.0,0.0,0.0,0.0,9.000000,9999.999999,9999.999999,9999.999999,10000.000000,10000.000000,10000.000000,9.000000,9999.990000,9999.990000,9999.990000,9.000000,9999.999999,9999.999999,9999.999999,9999.999999,9999.999999,9999.999999,9.000000,9999.999990,9999.999990,9999.999990,9.000000,9999.999999,9999.999999,9999.999999

********************************************************************************

[-- ÈùûÊï∞ÂÄºÂûãÊï∞ÊçÆÁªüËÆ°Ê¶ÇËßà (describe for objects) --]

,hts8,brief_description,quantity_1_code,quantity_2_code,wto_binding_code,mfn_text_rate,mfn_rate_type_code,col1_special_text,gsp_indicator,gsp_ctry_excluded,apta_indicator,civil_air_indicator,nafta_canada_ind,nafta_mexico_ind,mexico_rate_type_code,cbi_indicator,agoa_indicator,cbtpa_indicator,israel_fta_indicator,jordan_indicator,singapore_indicator,chile_indicator,morocco_indicator,australia_indicator,bahrain_indicator,bahrain_rate_type_code,dr_cafta_indicator,dr_cafta_rate_type_code,dr_cafta_plus_indicator,oman_indicator,peru_indicator,pharmaceutical_ind,dyes_indicator,col2_text_rate,col2_rate_type_code,footnote_comment,additional_duty,korea_indicator,colombia_indicator,panama_indicator,panama_rate_type_code,nepal_indicator,japan_indicator,usmca_indicator
count,13102,13102,11965,1713,13095,12421,12668,7815,5139,1084,559,194,6932,6973,6959,5692,5363,268,6984,7077,7117,7117,7242,6987,7113,6740,7082,6714,293,7139,7190,453,111,12162,12594,1780,796,7140,7155,7170,6895,77,261,7303
unique,13093,12958,37,15,5,1045,14,857,3,41,1,1,1,1,2,2,1,1,1,1,1,1,1,1,1,3,1,6,1,1,1,1,1,1075,14,99,2,1,1,1,7,1,1,2
top,99034522,Sugars described in US note 15(b) to this subc...,KG,KG,B,Free,7,"Free (A,AU,BH,CL,CO,D,E,IL,JO,KR,MA,OM,P,PA,PE...",A,TH,B,C,CA,MX,0,E,D,R,IL,JO,SG,CL,MA,AU,BH,0,P,0,P+,OM,PE,K,L,35%,7,The rates shown here are in addition to the ap...,Yes,KR,CO,PA,0,NP,JP,S
freq,2,13,6399,1541,11956,4604,5923,1780,2531,789,559,194,6932,6973,6957,5412,5363,268,6984,7077,7117,7117,7242,6987,7113,6737,7082,6591,293,7139,7190,453,111,1598,8097,512,512,7140,7155,7170,6673,77,261,6917

********************************************************************************



#################### üìä Êï∞ÊçÆÈõÜÊé¢Á¥¢Ôºötariff_database_2015.xlsx ####################
Êï∞ÊçÆÂΩ¢Áä∂ (Ë°å, Âàó): (12736, 111)
--------------------------------------------------
[-- Êï∞ÊçÆÊï¥‰ΩìÊ¶ÇËßà (info) --]
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12736 entries, 0 to 12735
Columns: 111 entries, hts8 to panama_other_rate
dtypes: datetime64[ns](2), float64(65), object(44)
memory usage: 10.8+ MB
********************************************************************************

[-- Êï∞ÂÄºÂûãÊï∞ÊçÆÁªüËÆ°Ê¶ÇËßà (describe) --]

,mfn_ave,mfn_ad_val_rate,mfn_specific_rate,mfn_other_rate,col1_special_mod,mexico_ad_val_rate,mexico_specific_rate,cbi_ad_val_rate,cbi_specific_rate,cbtpa_rate_type_code,cbtpa_ad_val_rate,cbtpa_specific_rate,atpa_indicator,atpa_ad_val_rate,atpa_specific_rate,atpdea_indicator,jordan_rate_type_code,jordan_ad_val_rate,jordan_specific_rate,jordan_other_rate,singapore_rate_type_code,singapore_ad_val_rate,singapore_specific_rate,singapore_other_rate,chile_rate_type_code,chile_ad_val_rate,chile_specific_rate,chile_other_rate,morocco_rate_type_code,morocco_ad_val_rate,morocco_specific_rate,morocco_other_rate,australia_ad_val_rate,australia_specific_rate,australia_other_rate,bahrain_ad_val_rate,bahrain_specific_rate,bahrain_other_rate,dr_cafta_ad_val_rate,dr_cafta_specific_rate,dr_cafta_other_rate,dr_cafta_plus_rate_type_code,dr_cafta_plus_ad_val_rate,dr_cafta_plus_specific_rate,dr_cafta_plus_other_rate,oman_ad_val_rate,oman_specific_rate,oman_other_rate,peru_rate_type_code,peru_ad_val_rate,peru_specific_rate,peru_other_rate,col2_ad_val_rate,col2_specific_rate,col2_other_rate,korea_ad_val_rate,korea_specific_rate,korea_other_rate,colombia_rate_type_code,colombia_ad_val_rate,colombia_specific_rate,colombia_other_rate,panama_ad_val_rate,panama_specific_rate,panama_other_rate
count,1.0,12736.000000,11805.000000,11805.000000,0.0,6713.000000,6675.000000,5508.000000,5508.000000,268.0,268.0,268.0,0.0,0.0,0.0,0.0,6815.000000,6815.0,6815.000000,6815.000000,6853.0,6853.0,6853.0,6853.0,7182.000000,7182.000000,7182.000000,7182.000000,7110.000000,7109.000000,7109.000000,7109.000000,6902.000000,6902.000000,6902.000000,6926.000000,6926.000000,6926.000000,6820.000000,6820.000000,6820.000000,296.000000,296.000000,296.000000,296.000000,6953.000000,6953.000000,6953.000000,6927.000000,6927.000000,6927.000000,6927.000000,12546.000000,12546.000000,12546.000000,6898.000000,6898.000000,6898.000000,6905.000000,6905.000000,6905.000000,6905.000000,6923.000000,6923.000000,6923.000000
mean,0.0,483.703303,521.846651,521.812859,NaN,4.468941,4.494382,1.816543,1.815635,0.0,0.0,0.0,NaN,NaN,NaN,NaN,0.004109,0.0,0.000167,0.000035,0.0,0.0,0.0,0.0,0.274436,304.928989,304.928989,304.928989,0.437131,301.029678,301.029947,301.026897,233.268423,233.266216,233.265721,287.323130,287.323130,287.323130,29.328127,29.345696,29.325513,6.597973,6283.821783,6284.086189,6283.783783,291.961833,291.963072,291.960305,0.239353,189.118261,189.123452,189.115057,1103.427704,1103.253284,1103.140883,60.897467,60.905238,60.887218,0.260536,223.029046,223.033019,223.026792,186.340975,186.345627,186.335404
std,NaN,2145.478027,2224.010569,2224.018491,NaN,211.367198,211.967809,134.742001,134.742013,0.0,0.0,0.0,NaN,NaN,NaN,NaN,0.076507,0.0,0.003524,0.002060,0.0,0.0,0.0,0.0,1.547560,1719.511526,1719.511526,1719.511526,1.812315,1708.818470,1708.818422,1708.818959,1509.494344,1509.494685,1509.494762,1670.652479,1670.652479,1670.652479,540.775253,540.774325,540.775393,3.349252,4840.514333,4840.169945,4840.563828,1683.677238,1683.677023,1683.677503,1.358238,1362.223456,1362.222737,1362.223899,3132.831655,3132.893155,3132.932646,777.979038,777.978437,777.979837,1.430319,1476.767349,1476.766750,1476.767689,1352.366544,1352.365902,1352.367306
min,0.0,0.000000,0.000000,0.000000,NaN,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.0,NaN,NaN,NaN,NaN,0.000000,0.0,0.000000,0.000000,0.0,0.0,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,0.0,0.000000,0.000000,0.000000,NaN,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.0,NaN,NaN,NaN,NaN,0.000000,0.0,0.000000,0.000000,0.0,0.0,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,4.000000,0.085000,1.050000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.200000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,0.0,0.018000,0.000000,0.000000,NaN,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.0,NaN,NaN,NaN,NaN,0.000000,0.0,0.000000,0.000000,0.0,0.0,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,9.000000,9999.999999,9999.999999,9999.999999,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.350000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,0.0,0.061000,0.000000,0.000000,NaN,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.0,NaN,NaN,NaN,NaN,0.000000,0.0,0.000000,0.000000,0.0,0.0,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,9.000000,9999.999999,9999.999999,9999.999999,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.570000,0.151750,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
max,0.0,9999.999999,9999.999999,9999.999999,NaN,9999.999999,9999.999999,9999.999999,9999.999999,0.0,0.0,0.0,NaN,NaN,NaN,NaN,3.000000,0.0,0.105000,0.139000,0.0,0.0,0.0,0.0,9.000000,9999.999999,9999.999999,9999.999999,9.000000,9999.999999,9999.999999,9999.999999,9999.999999,9999.999999,9999.999999,9999.999999,9999.999999,9999.999999,9999.999999,9999.999999,9999.999999,9.000000,9999.999999,9999.999999,9999.999999,9999.999999,9999.999999,9999.999999,9.000000,9999.999999,9999.999999,9999.999999,9999.999999,9999.999999,9999.999999,9999.999999,9999.999999,9999.999999,9.000000,9999.999999,9999.999999,9999.999999,9999.999999,9999.999999,9999.999999

********************************************************************************

[-- ÈùûÊï∞ÂÄºÂûãÊï∞ÊçÆÁªüËÆ°Ê¶ÇËßà (describe for objects) --]

,hts8,brief_description,quantity_1_code,quantity_2_code,wto_binding_code,mfn_text_rate,mfn_rate_type_code,col1_special_text,gsp_indicator,gsp_ctry_excluded,apta_indicator,civil_air_indicator,nafta_canada_ind,nafta_mexico_ind,mexico_rate_type_code,cbi_indicator,agoa_indicator,cbtpa_indicator,israel_fta_indicator,jordan_indicator,singapore_indicator,chile_indicator,morocco_indicator,australia_indicator,australia_rate_type_code,bahrain_indicator,bahrain_rate_type_code,dr_cafta_indicator,dr_cafta_rate_type_code,dr_cafta_plus_indicator,oman_indicator,oman_rate_type_code,peru_indicator,pharmaceutical_ind,dyes_indicator,col2_text_rate,col2_rate_type_code,footnote_comment,additional_duty,korea_indicator,korea_rate_type_code,colombia_indicator,panama_indicator,panama_rate_type_code
count,12736,12736,11106,1537,12736,11423,11939,7943,4992,210,599,227,6671,6713,6713,5508,1754,268,6724,6815,6853,7182,7110,6902,6902,6926,6926,6820,6820,296,6953,6953,6927,393,109,11407,12693,2321,1515,6898,6898,6905,6923,6923
unique,12735,12730,35,14,4,1037,14,1194,3,25,1,1,1,1,2,2,1,1,1,1,1,1,1,1,7,1,3,1,7,1,1,8,1,1,1,1065,14,96,2,1,10,1,1,8
top,29189905,"Photographic film nesoi, in rolls, of a width ...",KG,KG,B,Free,7,"Free (A,AU,BH,CA,CL,CO,E,IL,JO,KR,MA,MX,OM,P,P...",A,BR,B,C,CA,MX,0,E,D,R,IL,JO,SG,CL,MA,AU,0,BH,0,P,0,P+,OM,0,PE,K,L,35%,7,See chapter 99 statistical note 1.,No,KR,0,CO,PA,0
freq,2,2,5786,1383,11266,3992,5663,2124,3303,70,599,227,6671,6713,6711,5239,1754,268,6724,6815,6853,7182,7110,6902,6480,6926,6727,6820,6656,296,6953,6511,6927,393,109,1510,7573,1204,1003,6898,5284,6905,6923,6641

********************************************************************************



#################### üìä Êï∞ÊçÆÈõÜÊé¢Á¥¢Ôºötariff_database_2016.xlsx ####################
Êï∞ÊçÆÂΩ¢Áä∂ (Ë°å, Âàó): (13229, 111)
--------------------------------------------------
[-- Êï∞ÊçÆÊï¥‰ΩìÊ¶ÇËßà (info) --]
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13229 entries, 0 to 13228
Columns: 111 entries, hts8 to panama_other_rate
dtypes: datetime64[ns](2), float64(65), object(44)
memory usage: 11.2+ MB
********************************************************************************

[-- Êï∞ÂÄºÂûãÊï∞ÊçÆÁªüËÆ°Ê¶ÇËßà (describe) --]

,mfn_ave,mfn_ad_val_rate,mfn_specific_rate,mfn_other_rate,col1_special_mod,mexico_ad_val_rate,mexico_specific_rate,cbi_ad_val_rate,cbi_specific_rate,cbtpa_rate_type_code,cbtpa_ad_val_rate,cbtpa_specific_rate,atpa_indicator,atpa_ad_val_rate,atpa_specific_rate,atpdea_indicator,jordan_rate_type_code,jordan_ad_val_rate,jordan_specific_rate,jordan_other_rate,singapore_rate_type_code,singapore_ad_val_rate,singapore_specific_rate,singapore_other_rate,chile_rate_type_code,chile_ad_val_rate,chile_specific_rate,chile_other_rate,morocco_rate_type_code,morocco_ad_val_rate,morocco_specific_rate,morocco_other_rate,australia_ad_val_rate,australia_specific_rate,australia_other_rate,bahrain_ad_val_rate,bahrain_specific_rate,bahrain_other_rate,dr_cafta_ad_val_rate,dr_cafta_specific_rate,dr_cafta_other_rate,dr_cafta_plus_rate_type_code,dr_cafta_plus_ad_val_rate,dr_cafta_plus_specific_rate,dr_cafta_plus_other_rate,oman_ad_val_rate,oman_specific_rate,oman_other_rate,peru_rate_type_code,peru_ad_val_rate,peru_specific_rate,peru_other_rate,col2_ad_val_rate,col2_specific_rate,col2_other_rate,korea_ad_val_rate,korea_specific_rate,korea_other_rate,colombia_rate_type_code,colombia_ad_val_rate,colombia_specific_rate,colombia_other_rate,panama_ad_val_rate,panama_specific_rate,panama_other_rate
count,0.0,13229.000000,12251.000000,12251.000000,0.0,7031.000000,7031.000000,5715.000000,5715.000000,279.0,279.0,279.0,0.0,0.0,0.0,0.0,7133.000000,7133.0,7133.000000,7133.000000,7171.0,7171.0,7171.0,7171.0,7500.0,7500.0,7500.0,7500.0,7428.000000,7428.000000,7428.000000,7428.000000,7220.000000,7220.000000,7220.000000,7245.000000,7245.000000,7245.000000,7138.000000,7138.000000,7138.000000,296.000000,296.000000,296.000000,296.000000,7271.000000,7271.000000,7271.000000,7245.000000,7245.000000,7245.000000,7245.000000,13039.000000,13039.000000,13039.000000,7216.000000,7216.000000,7216.000000,7222.000000,7221.000000,7222.000000,7221.000000,7241.000000,7241.000000,7241.000000
mean,NaN,483.818649,522.438486,522.405876,NaN,4.266814,4.266814,1.751333,1.749869,0.0,0.0,0.0,NaN,NaN,NaN,NaN,0.003925,0.0,0.000140,0.000031,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.410205,281.369919,281.369886,281.367516,222.993741,222.991861,222.991468,4.140783,4.140783,4.140783,4.204867,4.220147,4.202854,6.597973,6283.809764,6284.063412,6283.777500,279.192020,279.192832,279.191029,0.228847,180.816743,180.821643,180.814174,1080.895943,1080.712304,1080.603684,52.667362,52.675443,52.660704,0.247854,213.268507,213.242412,213.266647,178.157226,178.161242,178.152011
std,NaN,2145.719951,2225.200019,2225.207669,NaN,206.533192,206.533192,132.279146,132.279165,0.0,0.0,0.0,NaN,NaN,NaN,NaN,0.074787,0.0,0.003179,0.001872,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.759358,1653.744690,1653.744696,1653.745099,1476.647634,1476.647918,1476.647978,203.460936,203.460936,203.460936,204.979760,204.979499,204.979798,3.349252,4840.516964,4840.186586,4840.558988,1647.523178,1647.523040,1647.523346,1.328996,1332.550311,1332.549648,1332.550658,3104.581311,3104.645310,3104.683031,723.812988,723.812406,723.813470,1.397782,1444.807935,1444.709563,1444.808209,1322.883224,1322.882682,1322.883921
min,NaN,0.000000,0.000000,0.000000,NaN,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.0,NaN,NaN,NaN,NaN,0.000000,0.0,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,NaN,0.000000,0.000000,0.000000,NaN,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.0,NaN,NaN,NaN,NaN,0.000000,0.0,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,4.000000,0.070000,1.030000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.200000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,NaN,0.010000,0.000000,0.000000,NaN,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.0,NaN,NaN,NaN,NaN,0.000000,0.0,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,9.000000,9999.990000,9999.990000,9999.990000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.350000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,NaN,0.060000,0.000000,0.000000,NaN,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.0,NaN,NaN,NaN,NaN,0.000000,0.0,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,9.000000,9999.990000,9999.990000,9999.990000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.580000,0.130000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
max,NaN,9999.990000,9999.990000,9999.990000,NaN,9999.990000,9999.990000,9999.990000,9999.990000,0.0,0.0,0.0,NaN,NaN,NaN,NaN,3.000000,0.0,0.100000,0.130000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,9.000000,9999.990000,9999.990000,9999.990000,9999.990000,9999.990000,9999.990000,9999.990000,9999.990000,9999.990000,9999.990000,9999.990000,9999.990000,9.000000,9999.990000,9999.990000,9999.990000,9999.990000,9999.990000,9999.990000,9.000000,9999.990000,9999.990000,9999.990000,9999.990000,9999.990000,9999.990000,9999.990000,9999.990000,9999.990000,9.000000,9999.990000,9999.990000,9999.990000,9999.990000,9999.990000,9999.990000

********************************************************************************

[-- ÈùûÊï∞ÂÄºÂûãÊï∞ÊçÆÁªüËÆ°Ê¶ÇËßà (describe for objects) --]

,hts8,brief_description,quantity_1_code,quantity_2_code,wto_binding_code,mfn_text_rate,mfn_rate_type_code,col1_special_text,gsp_indicator,gsp_ctry_excluded,apta_indicator,civil_air_indicator,nafta_canada_ind,nafta_mexico_ind,mexico_rate_type_code,cbi_indicator,agoa_indicator,cbtpa_indicator,israel_fta_indicator,jordan_indicator,singapore_indicator,chile_indicator,morocco_indicator,australia_indicator,australia_rate_type_code,bahrain_indicator,bahrain_rate_type_code,dr_cafta_indicator,dr_cafta_rate_type_code,dr_cafta_plus_indicator,oman_indicator,oman_rate_type_code,peru_indicator,pharmaceutical_ind,dyes_indicator,col2_text_rate,col2_rate_type_code,footnote_comment,additional_duty,korea_indicator,korea_rate_type_code,colombia_indicator,panama_indicator,panama_rate_type_code
count,13229,13229,11574,1712,13229,11926,12432,8081,5160,213,673,268,6989,7031,7031,5715,5310,279,7042,7133,7171,7500,7428,7220,7220,7245,7245,7138,7139,296,7271,7271,7245,395,107,11911,13186,2347,1515,7216,7216,7221,7241,7241
unique,13032,12960,35,14,4,1038,14,1400,3,25,1,1,1,1,2,2,1,1,1,1,1,1,1,1,7,1,3,1,7,1,1,8,1,1,1,1066,14,96,2,1,10,1,1,7
top,42022190,Multi-component integrated circuits (MCOs),KG,KG,B,Free,7,"Free (A,AU,BH,CA, CL,CO,D,E,IL,JO, KR,MA,MX,OM...",A,BR,B,C,CA,MX,0,E,D,R,IL,JO,SG,CL,MA,AU,0,BH,0,P,0,P+,OM,0,PE,K,L,35%,7,See chapter 99 statistical note 1.,No,KR,0,CO,PA,0
freq,2,16,5802,1557,11737,4144,5964,848,3436,70,673,268,6989,7031,7029,5430,5310,279,7042,7133,7171,7500,7428,7220,6800,7245,7242,7138,6992,296,7271,6801,7245,395,107,1677,8018,1204,1003,7216,6372,7221,7241,6965

********************************************************************************



#################### üìä Êï∞ÊçÆÈõÜÊé¢Á¥¢Ôºötariff_database_2017.xlsx ####################
Êï∞ÊçÆÂΩ¢Áä∂ (Ë°å, Âàó): (12861, 112)
--------------------------------------------------
[-- Êï∞ÊçÆÊï¥‰ΩìÊ¶ÇËßà (info) --]
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12861 entries, 0 to 12860
Columns: 112 entries, hts8 to nepal_indicator
dtypes: datetime64[ns](2), float64(65), object(45)
memory usage: 11.0+ MB
********************************************************************************

[-- Êï∞ÂÄºÂûãÊï∞ÊçÆÁªüËÆ°Ê¶ÇËßà (describe) --]

,mfn_ave,mfn_ad_val_rate,mfn_specific_rate,mfn_other_rate,col1_special_mod,mexico_ad_val_rate,mexico_specific_rate,cbi_ad_val_rate,cbi_specific_rate,cbtpa_rate_type_code,cbtpa_ad_val_rate,cbtpa_specific_rate,atpa_indicator,atpa_ad_val_rate,atpa_specific_rate,atpdea_indicator,jordan_rate_type_code,jordan_ad_val_rate,jordan_specific_rate,jordan_other_rate,singapore_rate_type_code,singapore_ad_val_rate,singapore_specific_rate,singapore_other_rate,chile_rate_type_code,chile_ad_val_rate,chile_specific_rate,chile_other_rate,morocco_rate_type_code,morocco_ad_val_rate,morocco_specific_rate,morocco_other_rate,australia_ad_val_rate,australia_specific_rate,australia_other_rate,bahrain_ad_val_rate,bahrain_specific_rate,bahrain_other_rate,dr_cafta_ad_val_rate,dr_cafta_specific_rate,dr_cafta_other_rate,dr_cafta_plus_rate_type_code,dr_cafta_plus_ad_val_rate,dr_cafta_plus_specific_rate,dr_cafta_plus_other_rate,oman_ad_val_rate,oman_specific_rate,oman_other_rate,peru_rate_type_code,peru_ad_val_rate,peru_specific_rate,peru_other_rate,col2_ad_val_rate,col2_specific_rate,col2_other_rate,korea_ad_val_rate,korea_specific_rate,korea_other_rate,colombia_rate_type_code,colombia_ad_val_rate,colombia_specific_rate,colombia_other_rate,panama_ad_val_rate,panama_specific_rate,panama_other_rate
count,0.0,12861.000000,12284.000000,12284.000000,0.0,6636.000000,6636.000000,5386.000000,5386.000000,276.0,276.0,276.0,0.0,0.0,0.0,0.0,6731.000000,6731.0,6731.000000,6731.000000,6769.0,6769.0,6769.0,6769.0,6769.0,6769.0,6769.0,6769.0,7074.000000,7074.000000,7074.000000,7074.000000,6888.000000,6888.000000,6888.000000,6765.000000,6765.000000,6765.000000,6747.000000,6747.000000,6747.000000,299.000000,299.000000,299.000000,299.000000,6909.000000,6909.000000,6909.000000,6850.000000,6850.000000,6850.000000,6850.000000,12123.000000,12123.000000,12123.000000,7038.000000,7038.000000,7038.000000,6823.000000,6822.000000,6823.000000,6822.000000,6844.000000,6844.000000,6844.000000
mean,NaN,471.228107,493.357652,493.324716,NaN,4.520791,4.520791,1.858401,1.856758,0.0,0.0,0.0,NaN,NaN,NaN,NaN,0.003566,0.0,0.000109,0.000033,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.429743,299.691020,299.690686,299.688702,238.097232,238.095375,238.095001,4.434585,4.434585,4.434585,4.448097,4.462877,4.446416,6.622074,6321.092375,6321.331940,6321.063913,298.162046,298.162433,298.161520,0.242044,191.242934,191.248053,191.240685,840.024056,839.840412,839.725756,45.473066,45.480418,45.467418,0.261029,224.275922,224.246254,224.274194,189.952183,189.956619,189.947209
std,NaN,2119.012264,2165.693093,2165.700589,NaN,212.589367,212.589367,136.259352,136.259373,0.0,0.0,0.0,NaN,NaN,NaN,NaN,0.073051,0.0,0.002764,0.001927,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.801769,1705.133522,1705.133581,1705.133929,1524.662196,1524.662486,1524.662545,210.553312,210.553312,210.553312,210.833870,210.833602,210.833904,3.340967,4830.362503,4830.047968,4830.399872,1700.920444,1700.920377,1700.920537,1.365613,1369.709809,1369.709096,1369.710122,2773.488574,2773.544272,2773.578883,672.807725,672.807234,672.808105,1.432857,1480.797527,1480.690997,1480.797788,1365.159580,1365.158962,1365.160268
min,NaN,0.000000,0.000000,0.000000,NaN,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.0,NaN,NaN,NaN,NaN,0.000000,0.0,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,NaN,0.000000,0.000000,0.000000,NaN,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.0,NaN,NaN,NaN,NaN,0.000000,0.0,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,4.000000,0.060000,1.005000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.200000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,NaN,0.020000,0.000000,0.000000,NaN,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.0,NaN,NaN,NaN,NaN,0.000000,0.0,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,9.000000,9999.990000,9999.990000,9999.990000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.350000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,NaN,0.064000,0.000000,0.000000,NaN,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.0,NaN,NaN,NaN,NaN,0.000000,0.0,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,9.000000,9999.990000,9999.990000,9999.990000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.530000,0.080000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
max,NaN,9999.999999,9999.999999,9999.999999,NaN,9999.990000,9999.990000,9999.990000,9999.990000,0.0,0.0,0.0,NaN,NaN,NaN,NaN,3.000000,0.0,0.100000,0.130000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,9.000000,9999.990000,9999.990000,9999.990000,9999.990000,9999.990000,9999.990000,9999.990000,9999.990000,9999.990000,9999.990000,9999.990000,9999.990000,9.000000,9999.990000,9999.990000,9999.990000,9999.990000,9999.990000,9999.990000,9.000000,9999.990000,9999.990000,9999.990000,9999.990000,9999.990000,9999.990000,9999.990000,9999.990000,9999.990000,9.000000,9999.990000,9999.990000,9999.990000,9999.990000,9999.990000,9999.990000

********************************************************************************

[-- ÈùûÊï∞ÂÄºÂûãÊï∞ÊçÆÁªüËÆ°Ê¶ÇËßà (describe for objects) --]

,hts8,brief_description,quantity_1_code,quantity_2_code,wto_binding_code,mfn_text_rate,mfn_rate_type_code,col1_special_text,gsp_indicator,gsp_ctry_excluded,apta_indicator,civil_air_indicator,nafta_canada_ind,nafta_mexico_ind,mexico_rate_type_code,cbi_indicator,agoa_indicator,cbtpa_indicator,israel_fta_indicator,jordan_indicator,singapore_indicator,chile_indicator,morocco_indicator,australia_indicator,australia_rate_type_code,bahrain_indicator,bahrain_rate_type_code,dr_cafta_indicator,dr_cafta_rate_type_code,dr_cafta_plus_indicator,oman_indicator,oman_rate_type_code,peru_indicator,pharmaceutical_ind,dyes_indicator,col2_text_rate,col2_rate_type_code,footnote_comment,additional_duty,korea_indicator,korea_rate_type_code,colombia_indicator,panama_indicator,panama_rate_type_code,nepal_indicator
count,12861,12861,11596,1647,12861,11944,12417,8040,5186,218,647,236,6946,6987,6636,5723,5374,276,6999,7093,7131,7130,7387,7177,6888,7127,6765,7097,6747,299,7229,6909,7204,427,111,11926,12268,1946,1109,7169,7038,7176,7195,6844,100
unique,12734,12700,35,14,4,1044,14,1288,3,23,1,1,1,1,2,2,1,1,1,1,1,1,1,1,7,1,3,1,7,1,1,8,1,1,1,1096,14,92,2,1,9,1,1,7,1
top,37019930,Sugars described in US note 15(b) to this subc...,KG,KG,B,Free,7,"Free(A,AU,BH,CA,CL,CO,D,E,IL,JO,KR,MA,MX,OM,P,...",A,BR,B,C,CA,MX,0,E,D,R,IL,JO,SG,CL,MA,AU,0,BH,0,P,0,P+,OM,0,PE,K,L,35%,7,See chapter 99 statistical note 1.,No,KR,0,CO,PA,0,NP
freq,2,13,5958,1482,11754,4202,5924,2267,3437,74,647,236,6946,6987,6634,5446,5374,276,6999,7093,7131,7130,7387,7177,6470,7127,6762,7097,6598,299,7229,6435,7204,427,111,1612,7609,796,597,7169,6167,7176,7195,6565,100

********************************************************************************



#################### üìä Êï∞ÊçÆÈõÜÊé¢Á¥¢Ôºötariff_database_2018.xlsx ####################
Êï∞ÊçÆÂΩ¢Áä∂ (Ë°å, Âàó): (13200, 112)
--------------------------------------------------
[-- Êï∞ÊçÆÊï¥‰ΩìÊ¶ÇËßà (info) --]
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13200 entries, 0 to 13199
Columns: 112 entries, hts8 to nepal_indicator
dtypes: datetime64[ns](2), float64(65), object(45)
memory usage: 11.3+ MB
********************************************************************************

[-- Êï∞ÂÄºÂûãÊï∞ÊçÆÁªüËÆ°Ê¶ÇËßà (describe) --]

,mfn_ave,mfn_ad_val_rate,mfn_specific_rate,mfn_other_rate,col1_special_mod,mexico_ad_val_rate,mexico_specific_rate,cbi_ad_val_rate,cbi_specific_rate,cbtpa_rate_type_code,cbtpa_ad_val_rate,cbtpa_specific_rate,atpa_indicator,atpa_ad_val_rate,atpa_specific_rate,atpdea_indicator,jordan_rate_type_code,jordan_ad_val_rate,jordan_specific_rate,jordan_other_rate,singapore_rate_type_code,singapore_ad_val_rate,singapore_specific_rate,singapore_other_rate,chile_rate_type_code,chile_ad_val_rate,chile_specific_rate,chile_other_rate,morocco_rate_type_code,morocco_ad_val_rate,morocco_specific_rate,morocco_other_rate,australia_ad_val_rate,australia_specific_rate,australia_other_rate,bahrain_ad_val_rate,bahrain_specific_rate,bahrain_other_rate,dr_cafta_ad_val_rate,dr_cafta_specific_rate,dr_cafta_other_rate,dr_cafta_plus_rate_type_code,dr_cafta_plus_ad_val_rate,dr_cafta_plus_specific_rate,dr_cafta_plus_other_rate,oman_ad_val_rate,oman_specific_rate,oman_other_rate,peru_rate_type_code,peru_ad_val_rate,peru_specific_rate,peru_other_rate,col2_ad_val_rate,col2_specific_rate,col2_other_rate,korea_ad_val_rate,korea_specific_rate,korea_other_rate,colombia_rate_type_code,colombia_ad_val_rate,colombia_specific_rate,colombia_other_rate,panama_ad_val_rate,panama_specific_rate,panama_other_rate
count,0.0,13200.000000,12621.000000,12621.000000,0.0,6970.000000,6970.000000,5585.000000,5585.000000,268.0,268.0,268.0,0.0,0.0,0.0,0.0,6972.000000,6959.0,6951.000000,6959.000000,7010.0,6979.0,6979.0,6979.0,7010.0,6979.0,6979.0,6979.0,7296.000000,7283.000000,7283.000000,7283.000000,7096.000000,7096.000000,7096.000000,6975.000000,6975.000000,6975.000000,6957.000000,6957.000000,6957.000000,300.0000,300.000000,300.000000,300.000000,7118.000000,7118.000000,7118.000000,7073.000000,7060.000000,7060.000000,7060.000000,12410.000000,12410.000000,12410.000000,7260.000000,7260.000000,7260.000000,7039.000000,7032.000000,7033.000000,7032.000000,7054.000000,7054.000000,7054.000000
mean,NaN,471.247935,492.861580,492.829475,NaN,4.304161,4.304161,1.791749,1.790602,0.0,0.0,0.0,NaN,NaN,NaN,NaN,0.005020,0.0,0.000147,0.000032,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.416667,291.090975,291.090300,291.088837,229.708967,229.707241,229.706878,4.301075,4.301075,4.301075,4.313428,4.326205,4.312204,6.6300,6333.359346,6333.586706,6333.333333,283.787581,283.787581,283.787581,0.213064,185.554190,185.559097,185.552408,828.661357,825.254366,825.140637,44.081696,44.087781,44.077136,0.254013,217.578264,217.550070,217.576792,184.296909,184.301224,184.292600
std,NaN,2119.053276,2164.659990,2164.667293,NaN,207.434941,207.434941,133.809935,133.809950,0.0,0.0,0.0,NaN,NaN,NaN,NaN,0.081957,0.0,0.003253,0.001895,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.775677,1681.232439,1681.232556,1681.232810,1498.205221,1498.205485,1498.205541,207.360599,207.360599,207.360599,207.628579,207.628346,207.628603,3.3382,4826.961562,4826.662264,4826.995806,1660.640794,1660.640794,1660.640794,1.295764,1349.574638,1349.573966,1349.574883,2756.366887,2751.537674,2751.571678,662.486685,662.486285,662.486988,1.413702,1459.016908,1458.915062,1459.017127,1345.071425,1345.070834,1345.072012
min,NaN,0.000000,0.000000,0.000000,NaN,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.0,NaN,NaN,NaN,NaN,0.000000,0.0,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,NaN,0.000000,0.000000,0.000000,NaN,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.0,NaN,NaN,NaN,NaN,0.000000,0.0,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,4.0000,0.063000,0.946500,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.200000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,NaN,0.020000,0.000000,0.000000,NaN,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.0,NaN,NaN,NaN,NaN,0.000000,0.0,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,9.0000,9999.999999,9999.999999,9999.999999,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.350000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,NaN,0.063000,0.000000,0.000000,NaN,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.0,NaN,NaN,NaN,NaN,0.000000,0.0,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,9.0000,9999.999999,9999.999999,9999.999999,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.520000,0.070000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
max,NaN,9999.999999,9999.999999,9999.999999,NaN,9999.999999,9999.999999,9999.999999,9999.999999,0.0,0.0,0.0,NaN,NaN,NaN,NaN,3.000000,0.0,0.105000,0.130000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,9.000000,9999.999999,9999.999999,9999.999999,9999.999999,9999.999999,9999.999999,9999.999999,9999.999999,9999.999999,9999.999999,9999.999999,9999.999999,9.0000,9999.999999,9999.999999,9999.999999,9999.999999,9999.999999,9999.999999,9.000000,9999.999999,9999.999999,9999.999999,9999.999999,9999.999999,9999.999999,9999.999999,9999.999999,9999.999999,9.000000,9999.999999,9999.999999,9999.999999,9999.999999,9999.999999,9999.999999

********************************************************************************

[-- ÈùûÊï∞ÂÄºÂûãÊï∞ÊçÆÁªüËÆ°Ê¶ÇËßà (describe for objects) --]

,hts8,brief_description,quantity_1_code,quantity_2_code,wto_binding_code,mfn_text_rate,mfn_rate_type_code,col1_special_text,gsp_indicator,gsp_ctry_excluded,apta_indicator,civil_air_indicator,nafta_canada_ind,nafta_mexico_ind,mexico_rate_type_code,cbi_indicator,agoa_indicator,cbtpa_indicator,israel_fta_indicator,jordan_indicator,singapore_indicator,chile_indicator,morocco_indicator,australia_indicator,australia_rate_type_code,bahrain_indicator,bahrain_rate_type_code,dr_cafta_indicator,dr_cafta_rate_type_code,dr_cafta_plus_indicator,oman_indicator,oman_rate_type_code,peru_indicator,pharmaceutical_ind,dyes_indicator,col2_text_rate,col2_rate_type_code,footnote_comment,additional_duty,korea_indicator,korea_rate_type_code,colombia_indicator,panama_indicator,panama_rate_type_code,nepal_indicator
count,13200,13200,11909,1671,13193,12285,12754,8298,5413,589,678,261,7182,7221,7221,5951,5600,268,7235,7329,7367,7366,7623,7410,7109,7363,6988,7333,6964,300,7465,7131,7440,434,112,12206,12591,2026,1109,7403,7260,7412,7431,7060,78
unique,12846,12812,37,15,4,1049,14,1161,3,47,1,1,1,1,2,2,1,1,1,1,1,1,1,1,7,1,3,1,7,1,1,3,1,1,1,1099,14,97,2,1,9,1,1,7,1
top,85044095,Sugars described in US note 15(b) to this subc...,KG,KG,B,Free,7,"Free(A,AU,BH,CA,CL,CO,D,E,IL,JO,KR,MA,MX,OM,P,...",A,UA,B,C,CA,MX,0,E,D,R,IL,JO,SG,CL,MA,AU,0,BH,0,P,0,P+,OM,0,PE,K,L,35%,7,See chapter 99 statistical note 1.,No,KR,0,CO,PA,0,NP
freq,3,13,6067,1495,12022,4288,6147,2219,3324,161,678,261,7182,7221,7219,5670,5600,268,7235,7329,7367,7366,7623,7410,6696,7363,6985,7333,6815,300,7465,6929,7440,434,112,1670,7801,794,597,7403,6462,7412,7431,6780,78

********************************************************************************



#################### üìä Êï∞ÊçÆÈõÜÊé¢Á¥¢Ôºötariff_database_202010.xlsx ####################
Êï∞ÊçÆÂΩ¢Áä∂ (Ë°å, Âàó): (22438, 122)
--------------------------------------------------
[-- Êï∞ÊçÆÊï¥‰ΩìÊ¶ÇËßà (info) --]
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 22438 entries, 0 to 22437
Columns: 122 entries, hts8 to usmca_other_rate
dtypes: datetime64[ns](2), float64(75), object(45)
memory usage: 20.9+ MB
********************************************************************************

[-- Êï∞ÂÄºÂûãÊï∞ÊçÆÁªüËÆ°Ê¶ÇËßà (describe) --]

,mfn_ave,mfn_ad_val_rate,mfn_specific_rate,mfn_other_rate,col1_special_mod,mexico_ad_val_rate,mexico_specific_rate,cbi_ad_val_rate,cbi_specific_rate,cbtpa_rate_type_code,cbtpa_ad_val_rate,cbtpa_specific_rate,atpa_indicator,atpa_ad_val_rate,atpa_specific_rate,atpdea_indicator,jordan_rate_type_code,jordan_ad_val_rate,jordan_specific_rate,jordan_other_rate,singapore_rate_type_code,singapore_ad_val_rate,singapore_specific_rate,singapore_other_rate,chile_rate_type_code,chile_ad_val_rate,chile_specific_rate,chile_other_rate,morocco_rate_type_code,morocco_ad_val_rate,morocco_specific_rate,morocco_other_rate,australia_rate_type_code,australia_ad_val_rate,australia_specific_rate,australia_other_rate,bahrain_ad_val_rate,bahrain_specific_rate,bahrain_other_rate,dr_cafta_ad_val_rate,dr_cafta_specific_rate,dr_cafta_other_rate,dr_cafta_plus_rate_type_code,dr_cafta_plus_ad_val_rate,dr_cafta_plus_specific_rate,dr_cafta_plus_other_rate,oman_rate_type_code,oman_ad_val_rate,oman_specific_rate,oman_other_rate,peru_rate_type_code,peru_ad_val_rate,peru_specific_rate,peru_other_rate,col2_ad_val_rate,col2_specific_rate,col2_other_rate,korea_ad_val_rate,korea_specific_rate,korea_other_rate,colombia_rate_type_code,colombia_ad_val_rate,colombia_specific_rate,colombia_other_rate,panama_ad_val_rate,panama_specific_rate,panama_other_rate,japan_rate_type_code,japan_ad_val_rate,japan_specific_rate,japan_other_rate,usmca_rate_type_code,usmca_ad_val_rate,usmca_specific_rate,usmca_other_rate
count,0.0,22438.000000,21721.000000,21721.000000,0.0,13828.000000,13828.000000,11125.000000,11125.000000,527.0,527.0,527.0,0.0,0.0,0.0,0.0,13872.000000,13827.0,13813.000000,13827.000000,13943.0,13867.0,13867.0,13867.0,13944.0,13868.0,13868.0,13868.0,14264.000000,14219.000000,14219.000000,14219.000000,13935.000000,13890.000000,13890.000000,13890.000000,13863.000000,13863.000000,13863.000000,13808.000000,13808.000000,13808.000000,490.000000,490.000000,490.000000,490.000000,14045.0,13997.0,13997.0,13997.0,14033.000000,13985.000000,13985.000000,13985.000000,19440.000000,19440.000000,19440.000000,14417.000000,14417.000000,14417.000000,14095.000000,13945.000000,13945.000000,13945.000000,13965.000000,13965.000000,13965.000000,548.000000,548.000000,548.000000,548.000000,7373.000000,7373.000000,7373.000000,7373.000000
mean,NaN,377.081712,389.516874,389.484904,NaN,2.169509,2.169509,0.900120,0.898967,0.0,0.0,0.0,NaN,NaN,NaN,NaN,0.004469,0.0,0.000106,0.000032,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.297182,295.379557,295.379302,295.379127,0.326372,232.542044,232.541308,232.541164,2.164032,2.164032,2.164032,2.172947,2.182650,2.172651,7.448980,7755.100837,7755.219449,7755.094286,0.0,0.0,0.0,0.0,0.207297,186.629373,186.631421,186.628344,597.554024,594.764507,594.650179,51.330280,51.334678,51.328242,0.245477,219.434028,219.435309,219.433269,182.602257,182.604462,182.599173,5.321168,36.514803,36.496314,36.496314,0.286451,248.204561,248.223958,248.202656
std,NaN,1904.825614,1934.760263,1934.766691,NaN,147.281804,147.281804,94.808987,94.808997,0.0,0.0,0.0,NaN,NaN,NaN,NaN,0.078613,0.0,0.002729,0.001901,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,1.582419,1693.145251,1693.145296,1693.145326,1.595072,1507.148649,1507.148762,1507.148784,147.095792,147.095792,147.095792,147.388410,147.388291,147.388414,2.991886,4176.706611,4176.485934,4176.718799,0.0,0.0,0.0,0.0,1.291196,1353.359530,1353.359249,1353.359672,2369.689539,2364.959531,2364.988170,714.620548,714.620235,714.620695,1.402137,1465.036901,1465.036709,1465.037014,1338.945369,1338.945068,1338.945787,3.002581,603.567904,603.569023,603.569023,1.468655,1555.874966,1555.871880,1555.875270
min,NaN,0.000000,0.000000,0.000000,NaN,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.0,NaN,NaN,NaN,NaN,0.000000,0.0,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,NaN,0.000000,0.000000,0.000000,NaN,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.0,NaN,NaN,NaN,NaN,0.000000,0.0,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,9.000000,9999.990000,9999.990000,9999.990000,0.0,0.0,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0.200000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,7.000000,0.001000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,NaN,0.031000,0.000000,0.000000,NaN,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.0,NaN,NaN,NaN,NaN,0.000000,0.0,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,9.000000,9999.990000,9999.990000,9999.990000,0.0,0.0,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0.350000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,7.000000,0.010000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,NaN,0.065000,0.000000,0.000000,NaN,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.0,NaN,NaN,NaN,NaN,0.000000,0.0,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,9.000000,9999.990000,9999.990000,9999.990000,0.0,0.0,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0.540000,0.042500,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,7.000000,0.020000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
max,NaN,9999.999999,9999.999999,9999.999999,NaN,9999.990000,9999.990000,9999.990000,9999.990000,0.0,0.0,0.0,NaN,NaN,NaN,NaN,3.000000,0.0,0.100000,0.130000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,9.000000,9999.990000,9999.990000,9999.990000,9.000000,9999.990000,9999.990000,9999.990000,9999.990000,9999.990000,9999.990000,9999.990000,9999.990000,9999.990000,9.000000,9999.990000,9999.990000,9999.990000,0.0,0.0,0.0,0.0,9.000000,9999.990000,9999.990000,9999.990000,9999.990000,9999.990000,9999.990000,9999.990000,9999.990000,9999.990000,9.000000,9999.990000,9999.990000,9999.990000,9999.990000,9999.990000,9999.990000,9.000000,9999.990000,9999.990000,9999.990000,9.000000,9999.999999,9999.999999,9999.999999

********************************************************************************

[-- ÈùûÊï∞ÂÄºÂûãÊï∞ÊçÆÁªüËÆ°Ê¶ÇËßà (describe for objects) --]

,hts8,brief_description,quantity_1_code,quantity_2_code,wto_binding_code,mfn_text_rate,mfn_rate_type_code,col1_special_text,gsp_indicator,gsp_ctry_excluded,apta_indicator,civil_air_indicator,nafta_canada_ind,nafta_mexico_ind,mexico_rate_type_code,cbi_indicator,agoa_indicator,cbtpa_indicator,israel_fta_indicator,jordan_indicator,singapore_indicator,chile_indicator,morocco_indicator,australia_indicator,bahrain_indicator,bahrain_rate_type_code,dr_cafta_indicator,dr_cafta_rate_type_code,dr_cafta_plus_indicator,oman_indicator,peru_indicator,pharmaceutical_ind,dyes_indicator,col2_text_rate,col2_rate_type_code,footnote_comment,additional_duty,korea_indicator,korea_rate_type_code,colombia_indicator,panama_indicator,panama_rate_type_code,nepal_indicator,japan_indicator,usmca_indicator
count,22438,22438,19195,3132,22425,21386,21722,15480,10762,1931,1193,404,14252,14328,14324,11836,11211,527,14361,14555,14626,14625,14882,14508,14622,13908,14543,13840,490,14676,14728,867,221,19580,19851,2373,1109,14690,14442,14688,14702,14111,160,548,7374
unique,14696,14648,37,15,4,1049,14,2130,3,48,1,1,1,1,2,2,1,1,1,1,1,1,1,1,1,3,1,6,1,1,1,1,1,1074,14,98,2,1,9,1,1,7,1,1,2
top,96131000,Sugars described in US note 15(b) to this subc...,KG,KG,B,Free,7,"Free(A,AU,BH,CA,CL,CO,D,E,IL,JO,KR,MA,MX,OM,P,...",A,TH,B,C,CA,MX,0,E,D,R,IL,JO,SG,CL,MA,AU,BH,0,P,0,P+,OM,PE,K,L,35%,7,See chapter 99 statistical note 1.,No,KR,0,CO,PA,0,NP,JP,S
freq,4,13,10313,2852,19378,5727,12485,2053,5860,1287,1193,404,14252,14328,14322,11274,11211,527,14361,14555,14626,14625,14882,14508,14622,13905,14543,13595,490,14676,14728,867,221,2457,13366,716,597,14690,12794,14688,14702,13592,160,548,6977

********************************************************************************



#################### üìä Êï∞ÊçÆÈõÜÊé¢Á¥¢Ôºötariff_database_202405.xlsx ####################
Êï∞ÊçÆÂΩ¢Áä∂ (Ë°å, Âàó): (12975, 122)
--------------------------------------------------
[-- Êï∞ÊçÆÊï¥‰ΩìÊ¶ÇËßà (info) --]
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12975 entries, 0 to 12974
Columns: 122 entries, hts8 to usmca_other_rate
dtypes: datetime64[ns](2), float64(76), object(44)
memory usage: 12.1+ MB
********************************************************************************

[-- Êï∞ÂÄºÂûãÊï∞ÊçÆÁªüËÆ°Ê¶ÇËßà (describe) --]

,mfn_ave,mfn_ad_val_rate,mfn_specific_rate,mfn_other_rate,col1_special_mod,mexico_ad_val_rate,mexico_specific_rate,cbi_ad_val_rate,cbi_specific_rate,cbtpa_rate_type_code,cbtpa_ad_val_rate,cbtpa_specific_rate,atpa_indicator,atpa_ad_val_rate,atpa_specific_rate,atpdea_indicator,jordan_rate_type_code,jordan_ad_val_rate,jordan_specific_rate,jordan_other_rate,singapore_rate_type_code,singapore_ad_val_rate,singapore_specific_rate,singapore_other_rate,chile_rate_type_code,chile_ad_val_rate,chile_specific_rate,chile_other_rate,morocco_rate_type_code,morocco_ad_val_rate,morocco_specific_rate,morocco_other_rate,australia_rate_type_code,australia_ad_val_rate,australia_specific_rate,australia_other_rate,bahrain_ad_val_rate,bahrain_specific_rate,bahrain_other_rate,dr_cafta_ad_val_rate,dr_cafta_specific_rate,dr_cafta_other_rate,dr_cafta_plus_rate_type_code,dr_cafta_plus_ad_val_rate,dr_cafta_plus_specific_rate,dr_cafta_plus_other_rate,oman_rate_type_code,oman_ad_val_rate,oman_specific_rate,oman_other_rate,peru_rate_type_code,peru_ad_val_rate,peru_specific_rate,peru_other_rate,col2_ad_val_rate,col2_specific_rate,col2_other_rate,korea_rate_type_code,korea_ad_val_rate,korea_specific_rate,korea_other_rate,colombia_rate_type_code,colombia_ad_val_rate,colombia_specific_rate,colombia_other_rate,panama_ad_val_rate,panama_specific_rate,panama_other_rate,japan_rate_type_code,japan_ad_val_rate,japan_specific_rate,japan_other_rate,usmca_rate_type_code,usmca_ad_val_rate,usmca_specific_rate,usmca_other_rate
count,0.0,12975.000000,12514.000000,12514.000000,0.0,6694.000000,6694.000000,5326.000000,5326.000000,268.0,268.0,268.0,0.0,0.0,0.0,0.0,7070.000000,7050.0,7050.000000,7050.000000,6760.0,6724.0,6724.0,6724.0,6761.0,6725.0,6725.0,6725.0,7145.000000,6810.000000,6810.000000,6810.000000,6685.000000,6665.000000,6665.000000,6665.000000,6720.000000,6720.000000,6720.000000,6696.000000,6696.000000,6696.000000,284.000000,286.000000,286.000000,286.000000,6806.0,6786.0,6786.0,6787.0,6805.000000,6784.000000,6784.000000,6784.000000,12283.000000,12282.000000,12282.000000,7010.000000,6988.000000,6988.000000,6988.000000,6875.000000,6765.000000,6765.000000,6765.000000,6786.000000,6786.000000,6786.000000,263.000000,263.000000,263.000000,263.000000,7314.000000,7314.000000,7314.000000,7314.000000
mean,NaN,350.710549,363.625327,363.592840,NaN,4.481621,4.481621,1.878879,1.877676,0.0,0.0,0.0,NaN,NaN,NaN,NaN,0.004243,0.0,0.000163,0.000031,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.070539,82.231930,82.231930,82.231930,0.165295,183.045604,183.045578,183.045578,4.464281,4.464281,4.464281,4.480345,4.482364,4.480282,6.640845,6503.495521,6503.593965,6503.490000,0.0,0.0,0.0,0.0,0.141367,153.301733,153.303294,153.301733,345.503885,341.267204,341.149762,0.031098,4.293531,4.294770,4.293070,0.208582,201.034823,201.035457,201.034537,173.888332,173.891601,173.887241,2.030418,38.032793,38.022776,38.022776,0.289992,251.573186,251.593088,251.572075
std,NaN,1839.566979,1871.893271,1871.899574,NaN,211.666652,211.666652,137.024722,137.024738,0.0,0.0,0.0,NaN,NaN,NaN,NaN,0.076964,0.0,0.003446,0.001883,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.793701,903.147916,903.147916,903.147916,1.207667,1340.603562,1340.603565,1340.603565,211.256904,211.256904,211.256904,211.635047,211.635005,211.635049,3.344404,4776.941310,4776.806819,4776.948852,0.0,0.0,0.0,0.0,1.105409,1228.713524,1228.713330,1228.713524,1825.600492,1815.294833,1815.316747,0.418099,207.167468,207.167443,207.167478,1.300662,1403.645109,1403.645019,1403.645150,1307.243416,1307.242983,1307.243561,3.193359,616.625180,616.625799,616.625799,1.477852,1566.130430,1566.127241,1566.130608
min,NaN,0.000000,0.000000,0.000000,NaN,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.0,NaN,NaN,NaN,NaN,0.000000,0.0,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,NaN,0.000000,0.000000,0.000000,NaN,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.0,NaN,NaN,NaN,NaN,0.000000,0.0,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,4.000000,0.014000,0.396250,0.000000,0.0,0.0,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0.120000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,NaN,0.017000,0.000000,0.000000,NaN,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.0,NaN,NaN,NaN,NaN,0.000000,0.0,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,9.000000,9999.990000,9999.990000,9999.990000,0.0,0.0,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0.350000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,NaN,0.060000,0.000000,0.000000,NaN,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.0,NaN,NaN,NaN,NaN,0.000000,0.0,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,9.000000,9999.990000,9999.990000,9999.990000,0.0,0.0,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0.460000,0.022000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,7.000000,0.020000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
max,NaN,9999.999999,9999.999999,9999.999999,NaN,9999.990000,9999.990000,9999.990000,9999.990000,0.0,0.0,0.0,NaN,NaN,NaN,NaN,3.000000,0.0,0.100000,0.130000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,9.000000,9999.990000,9999.990000,9999.990000,9.000000,9999.990000,9999.990000,9999.990000,9999.990000,9999.990000,9999.990000,9999.990000,9999.990000,9999.990000,9.000000,9999.990000,9999.990000,9999.990000,0.0,0.0,0.0,0.0,9.000000,9999.990000,9999.990000,9999.990000,10000.000000,10000.000000,10000.000000,9.000000,9999.990000,9999.990000,9999.990000,9.000000,9999.990000,9999.990000,9999.990000,9999.990000,9999.990000,9999.990000,9.000000,9999.990000,9999.990000,9999.990000,9.000000,9999.990000,9999.990000,9999.990000

********************************************************************************

[-- ÈùûÊï∞ÂÄºÂûãÊï∞ÊçÆÁªüËÆ°Ê¶ÇËßà (describe for objects) --]

,hts8,brief_description,quantity_1_code,quantity_2_code,wto_binding_code,mfn_text_rate,mfn_rate_type_code,col1_special_text,gsp_indicator,gsp_ctry_excluded,apta_indicator,civil_air_indicator,nafta_canada_ind,nafta_mexico_ind,mexico_rate_type_code,cbi_indicator,agoa_indicator,cbtpa_indicator,israel_fta_indicator,jordan_indicator,singapore_indicator,chile_indicator,morocco_indicator,australia_indicator,bahrain_indicator,bahrain_rate_type_code,dr_cafta_indicator,dr_cafta_rate_type_code,dr_cafta_plus_indicator,oman_indicator,peru_indicator,pharmaceutical_ind,dyes_indicator,col2_text_rate,col2_rate_type_code,footnote_comment,additional_duty,korea_indicator,colombia_indicator,panama_indicator,panama_rate_type_code,nepal_indicator,japan_indicator,usmca_indicator
count,12975,12975,11956,1714,12967,12420,12394,7695,5139,1084,560,194,6918,6963,6954,5686,5363,268,6978,7071,7111,7111,7149,6980,7107,6740,7071,6710,286,7133,7163,453,111,12148,12293,1655,703,7131,7144,7162,6893,77,263,7315
unique,12972,12830,36,15,5,1047,14,802,3,41,1,1,1,1,2,2,1,1,1,1,1,1,1,1,1,3,1,6,1,1,1,1,1,1073,14,99,2,1,1,1,7,1,1,2
top,99034521,Sugars described in US note 15(b) to this subc...,KG,KG,B,Free,7,"Free (A,AU,BH,CL,CO,D,E,IL,JO,KR,MA,OM,P,PA,PE...",A,TH,B,C,CA,MX,0,E,D,R,IL,JO,SG,CL,MA,AU,BH,0,P,0,P+,OM,PE,K,L,35%,7,The rates shown here are in addition to the ap...,Yes,KR,CO,PA,0,NP,JP,S
freq,2,13,6399,1541,11956,4598,5893,1781,2531,789,560,194,6918,6963,6952,5406,5363,268,6978,7071,7111,7111,7149,6980,7107,6737,7071,6586,286,7133,7163,453,111,1597,8092,512,512,7131,7144,7162,6671,77,263,6917

********************************************************************************



#################### üìä Êï∞ÊçÆÈõÜÊé¢Á¥¢Ôºötariff_database_2025.xlsx ####################
Êï∞ÊçÆÂΩ¢Áä∂ (Ë°å, Âàó): (13032, 122)
--------------------------------------------------
[-- Êï∞ÊçÆÊï¥‰ΩìÊ¶ÇËßà (info) --]
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 13032 entries, 0 to 13031
Columns: 122 entries, hts8 to usmca_other_rate
dtypes: datetime64[ns](2), float64(76), object(44)
memory usage: 12.1+ MB
********************************************************************************

[-- Êï∞ÂÄºÂûãÊï∞ÊçÆÁªüËÆ°Ê¶ÇËßà (describe) --]

,mfn_ave,mfn_ad_val_rate,mfn_specific_rate,mfn_other_rate,col1_special_mod,mexico_ad_val_rate,mexico_specific_rate,cbi_ad_val_rate,cbi_specific_rate,cbtpa_rate_type_code,cbtpa_ad_val_rate,cbtpa_specific_rate,atpa_indicator,atpa_ad_val_rate,atpa_specific_rate,atpdea_indicator,jordan_rate_type_code,jordan_ad_val_rate,jordan_specific_rate,jordan_other_rate,singapore_rate_type_code,singapore_ad_val_rate,singapore_specific_rate,singapore_other_rate,chile_rate_type_code,chile_ad_val_rate,chile_specific_rate,chile_other_rate,morocco_rate_type_code,morocco_ad_val_rate,morocco_specific_rate,morocco_other_rate,australia_rate_type_code,australia_ad_val_rate,australia_specific_rate,australia_other_rate,bahrain_ad_val_rate,bahrain_specific_rate,bahrain_other_rate,dr_cafta_ad_val_rate,dr_cafta_specific_rate,dr_cafta_other_rate,dr_cafta_plus_rate_type_code,dr_cafta_plus_ad_val_rate,dr_cafta_plus_specific_rate,dr_cafta_plus_other_rate,oman_rate_type_code,oman_ad_val_rate,oman_specific_rate,oman_other_rate,peru_rate_type_code,peru_ad_val_rate,peru_specific_rate,peru_other_rate,col2_ad_val_rate,col2_specific_rate,col2_other_rate,korea_rate_type_code,korea_ad_val_rate,korea_specific_rate,korea_other_rate,colombia_rate_type_code,colombia_ad_val_rate,colombia_specific_rate,colombia_other_rate,panama_ad_val_rate,panama_specific_rate,panama_other_rate,japan_rate_type_code,japan_ad_val_rate,japan_specific_rate,japan_other_rate,usmca_rate_type_code,usmca_ad_val_rate,usmca_specific_rate,usmca_other_rate
count,0.0,13032.000000,12709.000000,12718.000000,0.0,6694.000000,6694.000000,5326.000000,5326.000000,268.0,268.0,268.0,0.0,0.0,0.0,0.0,7066.000000,7046.0,7046.000000,7046.000000,6760.0,6724.0,6724.0,6724.0,6761.0,6725.0,6725.0,6725.0,7144.000000,6809.000000,6809.000000,6809.000000,6685.000000,6665.000000,6665.000000,6665.000000,6720.000000,6720.000000,6720.000000,6696.000000,6696.000000,6696.000000,63.000000,64.000000,64.000000,64.000000,6806.0,6786.0,6786.0,6787.0,6781.000000,6760.000000,6760.000000,6760.000000,12455.000000,12454.000000,12454.000000,7010.000000,6988.000000,6988.000000,6988.000000,6875.000000,6765.00000,6765.000000,6765.000000,6786.000000,6786.000000,6786.000000,259.000000,259.000000,259.000000,259.000000,7289.000000,7289.000000,7289.000000,7289.000000
mean,NaN,505.714241,518.562227,525.239881,NaN,4.481621,4.481621,1.878937,1.877736,0.0,0.0,0.0,NaN,NaN,NaN,NaN,0.004246,0.0,0.000163,0.000031,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.062990,73.432149,73.432149,73.432149,0.165295,183.045604,183.045578,183.045578,4.464281,4.464281,4.464281,4.480282,4.480282,4.480282,8.000000,8906.241094,8906.241094,8906.241094,0.0,0.0,0.0,0.0,0.066362,72.485135,72.485135,72.485135,478.829569,477.874061,477.758119,0.031098,4.293514,4.293916,4.293070,0.208582,201.03468,201.035005,201.034537,173.887800,173.890117,173.887241,2.061776,38.621147,38.610000,38.610000,0.268212,234.600772,234.620863,234.599848
std,NaN,2191.210819,2217.381761,2230.899498,NaN,211.666652,211.666652,137.024721,137.024737,0.0,0.0,0.0,NaN,NaN,NaN,NaN,0.076986,0.0,0.003447,0.001884,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.750347,853.835781,853.835781,853.835781,1.207667,1340.603562,1340.603565,1340.603565,211.256904,211.256904,211.256904,211.635049,211.635049,211.635049,2.851146,3145.761202,3145.761202,3145.761202,0.0,0.0,0.0,0.0,0.770026,848.353105,848.353105,848.353105,2134.550430,2132.973109,2132.998947,0.418099,207.167469,207.167460,207.167478,1.300662,1403.64513,1403.645083,1403.645150,1307.243487,1307.243179,1307.243561,3.207919,621.368450,621.369145,621.369145,1.420634,1513.695133,1513.692028,1513.695276
min,NaN,0.000000,0.000000,0.000000,NaN,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.0,NaN,NaN,NaN,NaN,0.000000,0.0,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
25%,NaN,0.000000,0.000000,0.000000,NaN,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.0,NaN,NaN,NaN,NaN,0.000000,0.0,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,9.000000,9999.990000,9999.990000,9999.990000,0.0,0.0,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0.149500,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
50%,NaN,0.022000,0.000000,0.000000,NaN,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.0,NaN,NaN,NaN,NaN,0.000000,0.0,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,9.000000,9999.990000,9999.990000,9999.990000,0.0,0.0,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0.350000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
75%,NaN,0.064000,0.000000,0.000000,NaN,0.000000,0.000000,0.000000,0.000000,0.0,0.0,0.0,NaN,NaN,NaN,NaN,0.000000,0.0,0.000000,0.000000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,9.000000,9999.990000,9999.990000,9999.990000,0.0,0.0,0.0,0.0,0.000000,0.000000,0.000000,0.000000,0.500000,0.034000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.00000,0.000000,0.000000,0.000000,0.000000,0.000000,7.000000,0.027500,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000
max,NaN,9999.999999,9999.999999,9999.999999,NaN,9999.990000,9999.990000,9999.990000,9999.990000,0.0,0.0,0.0,NaN,NaN,NaN,NaN,3.000000,0.0,0.100000,0.130000,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,9.000000,9999.990000,9999.990000,9999.990000,9.000000,9999.990000,9999.990000,9999.990000,9999.990000,9999.990000,9999.990000,9999.990000,9999.990000,9999.990000,9.000000,9999.990000,9999.990000,9999.990000,0.0,0.0,0.0,0.0,9.000000,9999.990000,9999.990000,9999.990000,10000.000000,10000.000000,10000.000000,9.000000,9999.990000,9999.990000,9999.990000,9.000000,9999.99000,9999.990000,9999.990000,9999.990000,9999.990000,9999.990000,9.000000,9999.990000,9999.990000,9999.990000,9.000000,9999.990000,9999.990000,9999.990000

********************************************************************************

[-- ÈùûÊï∞ÂÄºÂûãÊï∞ÊçÆÁªüËÆ°Ê¶ÇËßà (describe for objects) --]

,hts8,brief_description,quantity_1_code,quantity_2_code,wto_binding_code,mfn_text_rate,mfn_rate_type_code,col1_special_text,gsp_indicator,gsp_ctry_excluded,apta_indicator,civil_air_indicator,nafta_canada_ind,nafta_mexico_ind,mexico_rate_type_code,cbi_indicator,agoa_indicator,cbtpa_indicator,israel_fta_indicator,jordan_indicator,singapore_indicator,chile_indicator,morocco_indicator,australia_indicator,bahrain_indicator,bahrain_rate_type_code,dr_cafta_indicator,dr_cafta_rate_type_code,dr_cafta_plus_indicator,oman_indicator,peru_indicator,pharmaceutical_ind,dyes_indicator,col2_text_rate,col2_rate_type_code,footnote_comment,additional_duty,korea_indicator,colombia_indicator,panama_indicator,panama_rate_type_code,nepal_indicator,japan_indicator,usmca_indicator
count,13032,13032,11955,1713,13025,12622,12384,7750,5139,1083,560,190,6918,6963,6954,5686,5398,268,6978,7071,7111,7111,7148,6980,7107,6740,7071,6710,64,7133,7139,453,111,12352,12288,1533,604,7131,7144,7162,6893,77,259,7290
unique,13004,12880,36,15,5,1091,14,700,3,41,1,1,1,1,2,2,1,1,1,1,1,1,1,1,1,3,1,3,1,1,1,1,1,1076,14,100,2,1,1,1,7,1,1,2
top,99030125,Sugars described in US note 15(b) to this subc...,KG,KG,B,Free,7,"Free (A,AU,BH,CL,CO,D,E,IL,JO,KR,MA,OM,P,PA,PE...",A,TH,B,C,CA,MX,0,E,D,R,IL,JO,SG,CL,MA,AU,BH,0,P,0,P+,OM,PE,K,L,35%,7,The rates shown here are in addition to the ap...,Yes,KR,CO,PA,0,NP,JP,S
freq,4,13,6399,1541,11956,4597,5884,1795,2532,788,560,190,6918,6963,6952,5406,5398,268,6978,7071,7111,7111,7148,6980,7107,6737,7071,6707,64,7133,7139,453,111,1597,8088,512,512,7131,7144,7162,6671,77,259,6930

********************************************************************************

================================================================================
             üéâ ÊâÄÊúâ DataFrame ÁöÑÊï∞ÊçÆÊé¢Á¥¢Â∑≤ÂÆåÊàêÔºÅ
================================================================================

In [12]:
import pandas as pd
import numpy as np
from IPython.display import display

# ==============================================================================
# ‚ö†Ô∏è Á§∫‰æãÊï∞ÊçÆËÆæÁΩÆ (ËØ∑Áî®ÊÇ®ÂÆûÈôÖÂä†ËΩΩÊï∞ÊçÆÁöÑ‰ª£Á†ÅÊõøÊç¢ËøôÈÉ®ÂàÜ)
#    ËøôÈáå‰ΩøÁî®ËôöÊãüÊï∞ÊçÆÊù•Ê®°ÊãüÊ∏ÖÊ¥óËøáÁ®ãÔºå‰ª•Á°Æ‰øù‰ª£Á†ÅÂèØÊâßË°åÂπ∂Â±ïÁ§∫ÊïàÊûú„ÄÇ
# ==============================================================================
data_frames = {
    'tariff_database_202405.xlsx': pd.DataFrame({
        'hts8': ['01012100', '01012900', '99038803', '99038804'],
        'mfn_ad_val_rate': [0.0, 0.017, 9999.99, 0.05], # Âç†‰ΩçÁ¨¶
        'brief_description': ['Horses', 'Donkeys', 'Tariff Text', 'Tariff Text'],
        'mexico_ad_val_rate': [0.0, 0.0, 10000.0, 0.0] # Âç†‰ΩçÁ¨¶
    }),
    'tariff_database_2025.xlsx': pd.DataFrame({
        'hts8': ['01012100', '01012900', '99038803'],
        'mfn_ad_val_rate': [0.02, 0.022, 9999.99], # Âç†‰ΩçÁ¨¶
        'brief_description': ['Horses 2', 'Donkeys 2', 'Tariff Text 2'],
        'mexico_ad_val_rate': [0.0, 0.0, 0.50]
    })
}

# Â≠òÂÇ®Ê∏ÖÊ¥óÂêéÁöÑ DataFrame
cleaned_data_frames = {}

PLACEHOLDER_THRESHOLD = 9999.0
print("=" * 80)
print(" " * 28 + "üßπ ÂºÄÂßãÊï∞ÊçÆÊ∏ÖÊ¥óÔºöÂç†‰ΩçÁ¨¶Â§ÑÁêÜ üßπ")
print("=" * 80)

# ÈÅçÂéÜÊâÄÊúâÊï∞ÊçÆË°®Âπ∂ÊâßË°åÊ∏ÖÊ¥ó
for file_name, df in data_frames.items():
    
    # Â§çÂà∂ DataFrame ‰ª•ËøõË°åÊ∏ÖÊ¥óÔºå‰øùÁïôÂéüÂßãÊï∞ÊçÆ
    df_cleaned = df.copy()
    
    print(f"\n\n{'#'*20} üßº Ê∏ÖÊ¥óÊï∞ÊçÆÈõÜÔºö{file_name} {'#'*20}")
    
    # 1. ËØÜÂà´ÊâÄÊúâÊï∞ÂÄºÂûãÂàó
    numeric_cols = df_cleaned.select_dtypes(include=['number']).columns
    
    # 2. Ê†∏ÂøÉÊ∏ÖÊ¥óÈÄªËæëÔºöÊõøÊç¢Âç†‰ΩçÁ¨¶
    for col in numeric_cols:
        # Â∞ÜÊâÄÊúâÂ§ß‰∫éÁ≠â‰∫éÈòàÂÄºÁöÑÂÄºÊõøÊç¢‰∏∫ NaN
        rows_replaced = df_cleaned.loc[df_cleaned[col] >= PLACEHOLDER_THRESHOLD, col].count()
        if rows_replaced > 0:
            df_cleaned.loc[df_cleaned[col] >= PLACEHOLDER_THRESHOLD, col] = np.nan
            print(f"   ‚ö´ Âàó '{col}' Â∑≤ÊõøÊç¢ {rows_replaced} ‰∏™Âç†‰ΩçÁ¨¶ (>={PLACEHOLDER_THRESHOLD}) ‰∏∫ NaN„ÄÇ")
            
    # 3. Â≠òÂÇ®Ê∏ÖÊ¥óÂêéÁöÑÊï∞ÊçÆ
    cleaned_data_frames[file_name] = df_cleaned
    print("   ‚úÖ Êï∞ÊçÆÊ∏ÖÊ¥óÂÆåÊàêÂπ∂Â∑≤Â≠òÂÇ®„ÄÇ")
    
    # 4. Â±ïÁ§∫Ê∏ÖÊ¥óÊïàÊûúÔºöÈáçÊñ∞ÊèèËø∞ÂÖ≥ÈîÆ‰ªé‰ª∑Á®éÁéáÂàó
    ad_val_rate_cols = [col for col in numeric_cols if '_ad_val_rate' in col]
    
    print(f"\n[-- Ê∏ÖÊ¥óÂêéÂÖ≥ÈîÆÂàó ({ad_val_rate_cols}) ÁªüËÆ°ÊèèËø∞ --]")
    
    with pd.option_context('display.max_rows', None, 'display.max_columns', None, 'display.float_format', '{:.4f}'.format):
        try:
            display(df_cleaned[ad_val_rate_cols].describe())
        except Exception:
            print("‚ö†Ô∏è Ë≠¶ÂëäÔºöÊó†Ê≥ïÁîüÊàêÊñ∞ÁöÑÁªüËÆ°ÊèèËø∞„ÄÇ")
    
    print(f"**" * 40 + "\n")

print("=" * 80)
print(" " * 25 + "üéâ ÊâÄÊúâÊï∞ÊçÆÁöÑÂç†‰ΩçÁ¨¶Ê∏ÖÊ¥óÂ∑≤ÂÆåÊàêÔºÅ")
print("=" * 80)

# ÊâìÂç∞ÊúÄÁªàÊèêÁ§∫
print("\n[ÂêéÁª≠Ê≠•È™§ÊèêÁ§∫]")
print("ÊÇ®Áé∞Âú®ÂèØ‰ª•‰ΩøÁî® 'cleaned_data_frames' Â≠óÂÖ∏‰∏≠ÁöÑÊï∞ÊçÆËøõË°åËøõ‰∏ÄÊ≠•ÁöÑÂàÜÊûêÔºå‰æãÂ¶ÇÔºö")
print("1. ÊØîËæÉ‰∏çÂêåÂπ¥‰ªΩÁöÑÂπ≥ÂùáÁ®éÁéáÂíåÁ®éÁéáÂàÜÂ∏É„ÄÇ")
print("2. Êé¢Á¥¢ HTS ÁºñÁ†ÅÁöÑÁº∫Â§±ÂÄºÊàñÈùûÊï∞ÂÄºÂûãÂàó„ÄÇ")

================================================================================
                            üßπ ÂºÄÂßãÊï∞ÊçÆÊ∏ÖÊ¥óÔºöÂç†‰ΩçÁ¨¶Â§ÑÁêÜ üßπ
================================================================================


#################### üßº Ê∏ÖÊ¥óÊï∞ÊçÆÈõÜÔºötariff_database_202405.xlsx ####################
   ‚ö´ Âàó 'mfn_ad_val_rate' Â∑≤ÊõøÊç¢ 1 ‰∏™Âç†‰ΩçÁ¨¶ (>=9999.0) ‰∏∫ NaN„ÄÇ
   ‚ö´ Âàó 'mexico_ad_val_rate' Â∑≤ÊõøÊç¢ 1 ‰∏™Âç†‰ΩçÁ¨¶ (>=9999.0) ‰∏∫ NaN„ÄÇ
   ‚úÖ Êï∞ÊçÆÊ∏ÖÊ¥óÂÆåÊàêÂπ∂Â∑≤Â≠òÂÇ®„ÄÇ

[-- Ê∏ÖÊ¥óÂêéÂÖ≥ÈîÆÂàó (['mfn_ad_val_rate', 'mexico_ad_val_rate']) ÁªüËÆ°ÊèèËø∞ --]

       mfn_ad_val_rate  mexico_ad_val_rate
count           3.0000              3.0000
mean            0.0223              0.0000
std             0.0254              0.0000
min             0.0000              0.0000
25%             0.0085              0.0000
50%             0.0170              0.0000
75%             0.0335              0.0000
max             0.0500              0.0000

********************************************************************************



#################### üßº Ê∏ÖÊ¥óÊï∞ÊçÆÈõÜÔºötariff_database_2025.xlsx ####################
   ‚ö´ Âàó 'mfn_ad_val_rate' Â∑≤ÊõøÊç¢ 1 ‰∏™Âç†‰ΩçÁ¨¶ (>=9999.0) ‰∏∫ NaN„ÄÇ
   ‚úÖ Êï∞ÊçÆÊ∏ÖÊ¥óÂÆåÊàêÂπ∂Â∑≤Â≠òÂÇ®„ÄÇ

[-- Ê∏ÖÊ¥óÂêéÂÖ≥ÈîÆÂàó (['mfn_ad_val_rate', 'mexico_ad_val_rate']) ÁªüËÆ°ÊèèËø∞ --]

       mfn_ad_val_rate  mexico_ad_val_rate
count           2.0000              3.0000
mean            0.0210              0.1667
std             0.0014              0.2887
min             0.0200              0.0000
25%             0.0205              0.0000
50%             0.0210              0.0000
75%             0.0215              0.2500
max             0.0220              0.5000

********************************************************************************

================================================================================
                         üéâ ÊâÄÊúâÊï∞ÊçÆÁöÑÂç†‰ΩçÁ¨¶Ê∏ÖÊ¥óÂ∑≤ÂÆåÊàêÔºÅ
================================================================================

[ÂêéÁª≠Ê≠•È™§ÊèêÁ§∫]
ÊÇ®Áé∞Âú®ÂèØ‰ª•‰ΩøÁî® 'cleaned_data_frames' Â≠óÂÖ∏‰∏≠ÁöÑÊï∞ÊçÆËøõË°åËøõ‰∏ÄÊ≠•ÁöÑÂàÜÊûêÔºå‰æãÂ¶ÇÔºö
1. ÊØîËæÉ‰∏çÂêåÂπ¥‰ªΩÁöÑÂπ≥ÂùáÁ®éÁéáÂíåÁ®éÁéáÂàÜÂ∏É„ÄÇ
2. Êé¢Á¥¢ HTS ÁºñÁ†ÅÁöÑÁº∫Â§±ÂÄºÊàñÈùûÊï∞ÂÄºÂûãÂàó„ÄÇ

In [16]:
import pandas as pd
import numpy as np
from IPython.display import display

# ==============================================================================
# ‚ö†Ô∏è Á§∫‰æãÊï∞ÊçÆËÆæÁΩÆ (ËØ∑Áî®ÊÇ®ÂÆûÈôÖÂä†ËΩΩÊï∞ÊçÆÁöÑ‰ª£Á†ÅÊõøÊç¢ËøôÈÉ®ÂàÜ)
#    ËøôÈáå‰ΩøÁî®ËôöÊãüÊï∞ÊçÆÊù•Ê®°ÊãüÊ∏ÖÊ¥óËøáÁ®ãÔºåÁ°Æ‰øù‰ª£Á†ÅÂèØÊâßË°åÂπ∂Â±ïÁ§∫ÊïàÊûú„ÄÇ
# ==============================================================================
# Ê®°ÊãüÊÇ®ÊàêÂäüÂä†ËΩΩÂêéÁöÑ data_frames Â≠óÂÖ∏
data_frames = {
    'tariff_database_202010.xlsx': pd.DataFrame({
        'hts8': ['12019000', '23040000', '99038803', '92011000'],
        'mfn_ad_val_rate': [0.03, 0.05, 9999.99, 0.045], # ÂåÖÂê´Âç†‰ΩçÁ¨¶
        'mexico_ad_val_rate': [0.0, 0.0, 10000.0, 0.0], # ÂåÖÂê´Âç†‰ΩçÁ¨¶
        'brief_description': ['Soybeans', 'Soybean Meal', 'Tariff Text', 'Pianos']
    }),
    'tariff_database_2025.xlsx': pd.DataFrame({
        'hts8': ['12019000', '23040000', '99038803'],
        'mfn_ad_val_rate': [0.02, 0.022, 9999.99], # ÂåÖÂê´Âç†‰ΩçÁ¨¶
        'mexico_ad_val_rate': [0.0, 0.0, 0.50],
        'brief_description': ['Soybeans', 'Soybean Meal', 'Tariff Text']
    })
}

# Â≠òÂÇ®Ê∏ÖÊ¥óÂêéÁöÑ DataFrame ÁöÑÊñ∞Â≠óÂÖ∏
cleaned_data_frames = {}
PLACEHOLDER_THRESHOLD = 9999.0

# ==============================================================================
# Èò∂ÊÆµ IÔºöÂéüÂßãÊï∞ÊçÆÊé¢Á¥¢ (ÊÇ®Êèê‰æõÁöÑ‰ª£Á†Å)
# ==============================================================================
print("=" * 80)
print(" " * 15 + "üåü Èò∂ÊÆµ I: ÂéüÂßãÊï∞ÊçÆÊé¢Á¥¢ (Exploratory Data Analysis) üåü")
print("=" * 80)

# ÈÅçÂéÜ data_frames Â≠óÂÖ∏‰∏≠ÁöÑÊâÄÊúâ DataFrame
for file_name, df in data_frames.items():
    
    print(f"\n\n{'#'*20} üìä Êï∞ÊçÆÈõÜÊé¢Á¥¢Ôºö{file_name} (Ê∏ÖÊ¥óÂâçÁä∂ÊÄÅ) {'#'*20}")
    print(f"Êï∞ÊçÆÂΩ¢Áä∂ (Ë°å, Âàó): {df.shape}")
    print("-" * 50)
    
    # ... (info Âíå describe object ÈÉ®ÂàÜÁúÅÁï•Ôºå‰ª•ÈõÜ‰∏≠Â±ïÁ§∫Êï∞ÂÄºÂèòÂåñ) ...

    # [-- Êï∞ÂÄºÂûãÊï∞ÊçÆÁªüËÆ°Ê¶ÇËßà (describe) --]
    print(f"[-- Ê∏ÖÊ¥óÂâçÊï∞ÂÄºÂûãÊï∞ÊçÆÁªüËÆ°Ê¶ÇËßà (describe) --]")
    
    with pd.option_context('display.max_rows', None, 'display.max_columns', None, 'display.float_format', '{:.4f}'.format):
        try:
            display(df.describe(include=['number']))
        except ValueError:
            print("‚ö†Ô∏è Ë≠¶ÂëäÔºöÂΩìÂâçÊï∞ÊçÆË°®‰∏≠Ê≤°ÊúâÊï∞ÂÄºÂûãÊï∞ÊçÆ„ÄÇ")
    print(f"**" * 40 + "\n")

# ==============================================================================
# Èò∂ÊÆµ IIÔºöÊï∞ÊçÆÊ∏ÖÊ¥ó (Âç†‰ΩçÁ¨¶Â§ÑÁêÜ)
# ==============================================================================
print("\n\n" + "=" * 80)
print(" " * 25 + "üßπ Èò∂ÊÆµ II: Êï∞ÊçÆÊ∏ÖÊ¥ó (Âç†‰ΩçÁ¨¶Â§ÑÁêÜ) üßπ")
print("=" * 80)

for file_name, df in data_frames.items():
    
    df_cleaned = df.copy()
    print(f"\n\n{'#'*20} üßº Ê∏ÖÊ¥óÊï∞ÊçÆÈõÜÔºö{file_name} {'#'*20}")
    
    # 1. ËØÜÂà´ÊâÄÊúâÊï∞ÂÄºÂûãÂàó
    numeric_cols = df_cleaned.select_dtypes(include=['number']).columns
    
    # 2. Ê†∏ÂøÉÊ∏ÖÊ¥óÈÄªËæëÔºöÊõøÊç¢Âç†‰ΩçÁ¨¶
    total_replaced = 0
    for col in numeric_cols:
        # Â∞ÜÊâÄÊúâÂ§ß‰∫éÁ≠â‰∫éÈòàÂÄºÁöÑÂÄºÊõøÊç¢‰∏∫ NaN
        rows_replaced = df_cleaned.loc[df_cleaned[col] >= PLACEHOLDER_THRESHOLD, col].count()
        if rows_replaced > 0:
            df_cleaned.loc[df_cleaned[col] >= PLACEHOLDER_THRESHOLD, col] = np.nan
            print(f"   ‚ö´ Âàó '{col}' Â∑≤ÊõøÊç¢ {rows_replaced} ‰∏™Âç†‰ΩçÁ¨¶ (>={PLACEHOLDER_THRESHOLD}) ‰∏∫ NaN„ÄÇ")
            total_replaced += rows_replaced
            
    # 3. Â≠òÂÇ®Ê∏ÖÊ¥óÂêéÁöÑÊï∞ÊçÆ
    cleaned_data_frames[file_name] = df_cleaned
    print(f"   ‚úÖ Ê∏ÖÊ¥óÊìç‰ΩúÂÆåÊàê„ÄÇÊÄªÂÖ±ÊõøÊç¢‰∫Ü {total_replaced} ‰∏™ÂºÇÂ∏∏ÂÄº„ÄÇ")
    
    # 4. Â±ïÁ§∫Ê∏ÖÊ¥óÊïàÊûúÔºöÈáçÊñ∞ÊèèËø∞Êï∞ÂÄºÂûãÂàó
    print(f"\n[-- Ê∏ÖÊ¥óÂêéÊï∞ÂÄºÂûãÊï∞ÊçÆÁªüËÆ°Ê¶ÇËßà (describe) --]")
    
    with pd.option_context('display.max_rows', None, 'display.max_columns', None, 'display.float_format', '{:.4f}'.format):
        try:
            display(df_cleaned.describe(include=['number']))
        except Exception:
            print("‚ö†Ô∏è Ë≠¶ÂëäÔºöÊó†Ê≥ïÁîüÊàêÊñ∞ÁöÑÁªüËÆ°ÊèèËø∞„ÄÇ")
    
    print(f"**" * 40 + "\n")

print("=" * 80)
print(" " * 25 + "üéâ ÊâÄÊúâÊï∞ÊçÆÊ∏ÖÊ¥óÂíåÊïàÊûúÂ±ïÁ§∫Â∑≤ÂÆåÊàêÔºÅ")
print("=" * 80)
print("\nÊï∞ÊçÆÂ∑≤Â≠òÂÇ®Âú® 'cleaned_data_frames' Â≠óÂÖ∏‰∏≠„ÄÇ")

================================================================================
               üåü Èò∂ÊÆµ I: ÂéüÂßãÊï∞ÊçÆÊé¢Á¥¢ (Exploratory Data Analysis) üåü
================================================================================


#################### üìä Êï∞ÊçÆÈõÜÊé¢Á¥¢Ôºötariff_database_202010.xlsx (Ê∏ÖÊ¥óÂâçÁä∂ÊÄÅ) ####################
Êï∞ÊçÆÂΩ¢Áä∂ (Ë°å, Âàó): (4, 4)
--------------------------------------------------
[-- Ê∏ÖÊ¥óÂâçÊï∞ÂÄºÂûãÊï∞ÊçÆÁªüËÆ°Ê¶ÇËßà (describe) --]

       mfn_ad_val_rate  mexico_ad_val_rate
count           4.0000              4.0000
mean         2500.0287           2500.0000
std          4999.9742           5000.0000
min             0.0300              0.0000
25%             0.0412              0.0000
50%             0.0475              0.0000
75%          2500.0350           2500.0000
max          9999.9900          10000.0000

********************************************************************************



#################### üìä Êï∞ÊçÆÈõÜÊé¢Á¥¢Ôºötariff_database_2025.xlsx (Ê∏ÖÊ¥óÂâçÁä∂ÊÄÅ) ####################
Êï∞ÊçÆÂΩ¢Áä∂ (Ë°å, Âàó): (3, 4)
--------------------------------------------------
[-- Ê∏ÖÊ¥óÂâçÊï∞ÂÄºÂûãÊï∞ÊçÆÁªüËÆ°Ê¶ÇËßà (describe) --]

       mfn_ad_val_rate  mexico_ad_val_rate
count           3.0000              3.0000
mean         3333.3440              0.1667
std          5773.4848              0.2887
min             0.0200              0.0000
25%             0.0210              0.0000
50%             0.0220              0.0000
75%          5000.0060              0.2500
max          9999.9900              0.5000

********************************************************************************



================================================================================
                         üßπ Èò∂ÊÆµ II: Êï∞ÊçÆÊ∏ÖÊ¥ó (Âç†‰ΩçÁ¨¶Â§ÑÁêÜ) üßπ
================================================================================


#################### üßº Ê∏ÖÊ¥óÊï∞ÊçÆÈõÜÔºötariff_database_202010.xlsx ####################
   ‚ö´ Âàó 'mfn_ad_val_rate' Â∑≤ÊõøÊç¢ 1 ‰∏™Âç†‰ΩçÁ¨¶ (>=9999.0) ‰∏∫ NaN„ÄÇ
   ‚ö´ Âàó 'mexico_ad_val_rate' Â∑≤ÊõøÊç¢ 1 ‰∏™Âç†‰ΩçÁ¨¶ (>=9999.0) ‰∏∫ NaN„ÄÇ
   ‚úÖ Ê∏ÖÊ¥óÊìç‰ΩúÂÆåÊàê„ÄÇÊÄªÂÖ±ÊõøÊç¢‰∫Ü 2 ‰∏™ÂºÇÂ∏∏ÂÄº„ÄÇ

[-- Ê∏ÖÊ¥óÂêéÊï∞ÂÄºÂûãÊï∞ÊçÆÁªüËÆ°Ê¶ÇËßà (describe) --]

       mfn_ad_val_rate  mexico_ad_val_rate
count           3.0000              3.0000
mean            0.0417              0.0000
std             0.0104              0.0000
min             0.0300              0.0000
25%             0.0375              0.0000
50%             0.0450              0.0000
75%             0.0475              0.0000
max             0.0500              0.0000

********************************************************************************



#################### üßº Ê∏ÖÊ¥óÊï∞ÊçÆÈõÜÔºötariff_database_2025.xlsx ####################
   ‚ö´ Âàó 'mfn_ad_val_rate' Â∑≤ÊõøÊç¢ 1 ‰∏™Âç†‰ΩçÁ¨¶ (>=9999.0) ‰∏∫ NaN„ÄÇ
   ‚úÖ Ê∏ÖÊ¥óÊìç‰ΩúÂÆåÊàê„ÄÇÊÄªÂÖ±ÊõøÊç¢‰∫Ü 1 ‰∏™ÂºÇÂ∏∏ÂÄº„ÄÇ

[-- Ê∏ÖÊ¥óÂêéÊï∞ÂÄºÂûãÊï∞ÊçÆÁªüËÆ°Ê¶ÇËßà (describe) --]

       mfn_ad_val_rate  mexico_ad_val_rate
count           2.0000              3.0000
mean            0.0210              0.1667
std             0.0014              0.2887
min             0.0200              0.0000
25%             0.0205              0.0000
50%             0.0210              0.0000
75%             0.0215              0.2500
max             0.0220              0.5000

********************************************************************************

================================================================================
                         üéâ ÊâÄÊúâÊï∞ÊçÆÊ∏ÖÊ¥óÂíåÊïàÊûúÂ±ïÁ§∫Â∑≤ÂÆåÊàêÔºÅ
================================================================================

Êï∞ÊçÆÂ∑≤Â≠òÂÇ®Âú® 'cleaned_data_frames' Â≠óÂÖ∏‰∏≠„ÄÇ

In [18]:
import pandas as pd
import numpy as np
from IPython.display import display

# ==============================================================================
# I. ÂÅáËÆæÂíåÂèÇÊï∞ËÆæÂÆö (Âü∫‰∫éÂ§ñÈÉ®Ë¥∏ÊòìÊï∞ÊçÆÂíåÁªèÊµéÂºπÊÄßÁêÜËÆ∫ÁöÑÁÆÄÂåñÊ®°Âûã)
# ==============================================================================

# HTS ÁºñÁ†Å (‰ªÖÁî®‰∫éÂèÇËÄÉÂíåËØ¥Êòé)
SOYBEAN_HTS_CODES = ['1201', '2304']

# ÂÖ≥Á®éË∞ÉÊï¥Ââç (2024Âπ¥) ÁöÑË¥∏ÊòìÊï∞ÊçÆÂíåÁªèÊµéÂèÇÊï∞ (ÂÅáËÆæÂÄº)
ASSUMED_TRADE_DATA = {
    'USA': {
        'Q0_million_tons': 25.0,     # ÂàùÂßãÂØπÂçéÂá∫Âè£Èáè (Áôæ‰∏áÂê®)
        'Price_per_ton': 600,        # Âá∫Âè£Âπ≥Âùá‰ª∑Ê†º ($/Âê®)
        'Tariff_Change_Delta_t': 0.25, # ‰∏≠ÂõΩÂØπÁæéÊÉ©ÁΩöÊÄßÂÖ≥Á®éÂ¢ûÂä† 25% (Œît)
        'Trade_Loss_Share': 1.0,     # 100% ÁöÑË¥∏ÊòìÊçüÂ§±Áî®‰∫éËÆ°ÁÆóË¥∏ÊòìËΩ¨Áßª
    },
    'BRA': {
        'Q0_million_tons': 50.0,
        'Price_per_ton': 600,
        'Tariff_Change_Delta_t': 0.0, # Â∑¥Ë•ø/ÈòøÊ†πÂª∑Èù¢‰∏¥ÁöÑÂÖ≥Á®é‰∏çÂèò
        'Trade_Loss_Share': 0.8,     # ÂÅáËÆæËé∑ÂæóÁæéÂõΩÊçüÂ§±‰ªΩÈ¢ùÁöÑ 80%
    },
    'ARG': {
        'Q0_million_tons': 5.0,
        'Price_per_ton': 600,
        'Tariff_Change_Delta_t': 0.0,
        'Trade_Loss_Share': 0.2,     # ÂÅáËÆæËé∑ÂæóÁæéÂõΩÊçüÂ§±‰ªΩÈ¢ùÁöÑ 20%
    }
}

# ÁªèÊµéÂºπÊÄßÂèÇÊï∞
DEMAND_ELASTICITY = -0.5  # ‰∏≠ÂõΩÂØπÂ§ßË±ÜÁöÑËøõÂè£ÈúÄÊ±ÇÂºπÊÄß (‰∏≠Â∫¶‰∏çÂºπÊÄß)
INITIAL_TARIFF = 0.0      # ÂàùÂßãÂü∫Á°ÄÂÖ≥Á®é (t0) ÂÅáËÆæ‰∏∫ 0%

# ==============================================================================
# II. ËØÑ‰º∞Ê®°ÂûãÂáΩÊï∞ÔºöÂü∫‰∫éÂºπÊÄßËÆ°ÁÆóÂá∫Âè£ÈáèÂèòÂåñ
# ==============================================================================

def calculate_tariff_impact(Q0, elasticity, delta_t, t0):
    """
    ‰ΩøÁî®ÂºπÊÄßÂÖ¨Âºè‰º∞ÁÆóÂÖ≥Á®éÂèòÂåñ (Œît) ÂØπÂá∫Âè£Èáè (Q) ÁöÑÂΩ±Âìç (ŒîQ)„ÄÇ
    ŒîQ = Q0 * ŒµD * (Œît / (1 + t0))
    """
    if delta_t == 0:
        return 0.0  # ÂÖ≥Á®é‰∏çÂèòÔºåÂá∫Âè£ÈáèÂèòÂåñ‰∏∫ 0
    
    # ËÆ°ÁÆó‰ª∑Ê†ºÂèòÂåñÁôæÂàÜÊØî
    price_change_ratio = delta_t / (1 + t0)
    
    # ËÆ°ÁÆóÂá∫Âè£ÈáèÂèòÂåñ (ŒîQ)
    delta_Q = Q0 * elasticity * price_change_ratio
    return delta_Q

# ==============================================================================
# III. Ê®°ÂûãËÆ°ÁÆó‰∏éÁªìÊûúËæìÂá∫
# ==============================================================================

results = []
us_trade_loss = 0.0 # Áî®‰∫éÂ≠òÂÇ®ÁæéÂõΩÊçüÂ§±ÁöÑË¥∏ÊòìÈáèÔºå‰ª•‰æõÂ∑¥Ë•øÂíåÈòøÊ†πÂª∑ÂàÜÈÖç

print("=" * 80)
print(" " * 15 + "üìä ËØÑ‰º∞Ê®°ÂûãËÆ°ÁÆóÔºöÁæéÂõΩÂÖ≥Á®éË∞ÉÊï¥ÂØπÂ§ßË±ÜÂá∫Âè£ÁöÑÂΩ±Âìç")
print("=" * 80)

# 1. ËÆ°ÁÆóÁæéÂõΩÂá∫Âè£ÂèòÂåñ
country = 'USA'
data = ASSUMED_TRADE_DATA[country]
Q0 = data['Q0_million_tons']
P = data['Price_per_ton']
delta_t = data['Tariff_Change_Delta_t']

# ËÆ°ÁÆóÁæéÂõΩÂá∫Âè£ÈáèÂèòÂåñ
delta_Q = calculate_tariff_impact(Q0, DEMAND_ELASTICITY, delta_t, INITIAL_TARIFF)

# Â≠òÂÇ®ÁæéÂõΩÊçüÂ§±ÁöÑË¥∏ÊòìÈáè
us_trade_loss = abs(delta_Q)

Q1 = Q0 + delta_Q
V1_billion = (Q1 * P) / 1_000_000  # ËΩ¨Êç¢‰∏∫‰∫øÁæéÂÖÉ

results.append({
    'ÂõΩÂÆ∂': country,
    'ÂàùÂßãÂá∫Âè£Èáè (‰∏áÂê®)': Q0,
    'ÂÖ≥Á®éÂèòÂåñ (Œît)': f'{delta_t*100:.0f}%',
    'Âá∫Âè£ÈáèÂèòÂåñ (ŒîQ)': delta_Q,
    'Ë∞ÉÊï¥ÂêéÂá∫Âè£Èáè (‰∏áÂê®)': Q1,
    'Ë∞ÉÊï¥ÂêéÂá∫Âè£‰ª∑ÂÄº (‰∫øÁæéÂÖÉ)': V1_billion
})
print(f"‚ö´ ÁæéÂõΩ (USA) ÂÖ≥Á®éÂΩ±ÂìçËÆ°ÁÆóÂÆåÊàê„ÄÇÊçüÂ§±Ë¥∏ÊòìÈáè: {us_trade_loss:.2f} Áôæ‰∏áÂê®„ÄÇ")


# 2. ËÆ°ÁÆóË¥∏ÊòìËΩ¨ÁßªÂèóÁõäËÄÖÔºöÂ∑¥Ë•øÂíåÈòøÊ†πÂª∑
for country in ['BRA', 'ARG']:
    data = ASSUMED_TRADE_DATA[country]
    Q0 = data['Q0_million_tons']
    P = data['Price_per_ton']
    loss_share = data['Trade_Loss_Share']

    # Ë¥∏ÊòìËΩ¨ÁßªËé∑ÂæóÁöÑÂ¢ûÈáè
    delta_Q_gain = us_trade_loss * loss_share

    Q1 = Q0 + delta_Q_gain
    V1_billion = (Q1 * P) / 1_000_000

    results.append({
        'ÂõΩÂÆ∂': country,
        'ÂàùÂßãÂá∫Âè£Èáè (‰∏áÂê®)': Q0,
        'ÂÖ≥Á®éÂèòÂåñ (Œît)': '0.0%',
        'Âá∫Âè£ÈáèÂèòÂåñ (ŒîQ)': delta_Q_gain,
        'Ë∞ÉÊï¥ÂêéÂá∫Âè£Èáè (‰∏áÂê®)': Q1,
        'Ë∞ÉÊï¥ÂêéÂá∫Âè£‰ª∑ÂÄº (‰∫øÁæéÂÖÉ)': V1_billion
    })
    print(f"‚ö´ {country} Ë¥∏ÊòìËΩ¨ÁßªÂàÜÈÖçÂÆåÊàê„ÄÇËé∑ÂæóË¥∏ÊòìÈáè: {delta_Q_gain:.2f} Áôæ‰∏áÂê®„ÄÇ")


# 3. ËæìÂá∫ÊúÄÁªàÁªìÊûú
df_results = pd.DataFrame(results)

print("\n--- üìà Ë∞ÉÊï¥ÂêéÁöÑ‰∏âÂõΩÂ§ßË±ÜÂá∫Âè£ÈáèÂíåÂá∫Âè£‰ª∑ÂÄºÂàÜÂ∏É‰º∞ËÆ° ---")
# ËÆæÁΩÆÊòæÁ§∫Ê†ºÂºè
pd.set_option('display.float_format', '{:.2f}'.format)
display(df_results)
print("\n*Ê≥®: ÁªìÊûúÂü∫‰∫é‰∏≠ÂõΩÂØπÁæéÂõΩÂ§ßË±ÜÂæÅÊî∂ 25% ÊÉ©ÁΩöÊÄßÂÖ≥Á®éÁöÑË¥∏ÊòìËΩ¨ÁßªÊÉÖÊôØÂíåÂÅáËÆæÁöÑÁªèÊµéÂºπÊÄß (-0.5)„ÄÇ")
print("=" * 80)

================================================================================
               üìä ËØÑ‰º∞Ê®°ÂûãËÆ°ÁÆóÔºöÁæéÂõΩÂÖ≥Á®éË∞ÉÊï¥ÂØπÂ§ßË±ÜÂá∫Âè£ÁöÑÂΩ±Âìç
================================================================================
‚ö´ ÁæéÂõΩ (USA) ÂÖ≥Á®éÂΩ±ÂìçËÆ°ÁÆóÂÆåÊàê„ÄÇÊçüÂ§±Ë¥∏ÊòìÈáè: 3.12 Áôæ‰∏áÂê®„ÄÇ
‚ö´ BRA Ë¥∏ÊòìËΩ¨ÁßªÂàÜÈÖçÂÆåÊàê„ÄÇËé∑ÂæóË¥∏ÊòìÈáè: 2.50 Áôæ‰∏áÂê®„ÄÇ
‚ö´ ARG Ë¥∏ÊòìËΩ¨ÁßªÂàÜÈÖçÂÆåÊàê„ÄÇËé∑ÂæóË¥∏ÊòìÈáè: 0.62 Áôæ‰∏áÂê®„ÄÇ

--- üìà Ë∞ÉÊï¥ÂêéÁöÑ‰∏âÂõΩÂ§ßË±ÜÂá∫Âè£ÈáèÂíåÂá∫Âè£‰ª∑ÂÄºÂàÜÂ∏É‰º∞ËÆ° ---

    ÂõΩÂÆ∂  ÂàùÂßãÂá∫Âè£Èáè (‰∏áÂê®) ÂÖ≥Á®éÂèòÂåñ (Œît)  Âá∫Âè£ÈáèÂèòÂåñ (ŒîQ)  Ë∞ÉÊï¥ÂêéÂá∫Âè£Èáè (‰∏áÂê®)  Ë∞ÉÊï¥ÂêéÂá∫Âè£‰ª∑ÂÄº (‰∫øÁæéÂÖÉ)
0  USA       25.00       25%       -3.12        21.88           0.01
1  BRA       50.00      0.0%        2.50        52.50           0.03
2  ARG        5.00      0.0%        0.62         5.62           0.00

*Ê≥®: ÁªìÊûúÂü∫‰∫é‰∏≠ÂõΩÂØπÁæéÂõΩÂ§ßË±ÜÂæÅÊî∂ 25% ÊÉ©ÁΩöÊÄßÂÖ≥Á®éÁöÑË¥∏ÊòìËΩ¨ÁßªÊÉÖÊôØÂíåÂÅáËÆæÁöÑÁªèÊµéÂºπÊÄß (-0.5)„ÄÇ
================================================================================